[2018-04-24 20:20] rscrivens opened #10 "Add Fixes tab to Sarif Explorer"
Add a tab to the Sarif Explorer to support showing the Fixes data from the result in the log

[2018-04-24 20:28] rscrivens opened #11 "Add Callstacks tab to Sarif Explorer"
Add a tab to the Sarif Explorer to support showing the Callstacks data from the result in the log

[2018-04-24 20:29] rscrivens opened #12 "Add support for Sarif V2"
Update the Sarif Viewer to support Sarif V2 files

[2018-04-24 20:31] rscrivens opened #13 "Add Properties tab to Sarif Explorer"
Add a tab to the Sarif Explorer to support showing the properties data from the result in the log

[2018-04-24 20:33] rscrivens opened #14 "Add a link in the Result Info tab to the Sarif file"
Add a link in the Result Info that maps back to the location in the Sarif file. This will allow the user to look at the raw sarif results.

[2018-04-24 20:39] rscrivens opened #15 "Add Related Locations to Result Info"
Add a Related Location list of locations below the Locations list in the Result Info.

[2018-04-24 20:47] rscrivens opened #16 "Tool in RunInfo tab is missing the version"
Need to add in the version if it exists in the tool data.

[2018-05-07 16:56] #12 closed

[2018-05-07 17:11] #15 closed

[2018-05-07 17:58] rscrivens commented on #13
Instead of making a separate properties panel, which wouldn't scale or make sense to show properties across all the possible object that can have additional properties, I added a row/s to the Result and Run Info panels to show their properties. Where we have properties we want to visualize we should continue to do so in the appropriate panel.

[2018-05-07 17:58] #13 closed

[2018-05-07 19:44] rscrivens opened #21 "Support for Embedded Links"
Add support for embedded links in the message. Will need to investigate if links are possible in Problems panel.

[2018-05-07 19:50] rscrivens commented on #21
looks like for the Problems panel we might need to wait till support is added, this is the issue tracking it: https://github.com/Microsoft/vscode/issues/11847
Looks like it's on the backlog.

[2018-05-08 16:57] rscrivens opened #23 "Add Keyboard navigation of the CodeFlowLocations in the editor"
New feature to assign keys to navigate the codeflowlocations in the editor. A couple of initial design questions to discuss:
- Which keys will we assign to forward and backward navigation? Are there other actions we want?
- How should we handle when there is more then one CodeFlow in the result? Couple options I can think of:
   * cycle within one codeflow until you switch to  the next(either a ke

[2018-05-08 19:07] rscrivens opened #24 "Add CodeFlow/Stacks path decorations to the Editor"
New feature to give a better visualization in the editor of the code path of the result. We currently highlight the codeflow locations but we don't give any indication of the calls and call returns.

The main pending issue for this feature is:
Sarif V2 CodeFlowLocations(v2's version of AnnotatedCodeLocation) no longer have a "kind" property. So the "call" or "callReturn" values are not available t

[2018-05-10 23:42] rscrivens opened #25 "Add support for UriBaseIds"
issue to track adding support for UriBaseIds.

[2018-05-13 14:35] dgmelski commented on #24
There are multiple decorations that are on my wishlist:

1. Showing multiple text description boxes in the code viewer. (Maybe this one is already there? We were only showing for the "current" view.)
2. Gutter icons for branches that show direction of branch. I believe we use a "value" field for this that is usually "true" or "false" but might have a numeric value for a switch.
3. Icons that indic

[2018-05-13 14:47] dgmelski opened #28 "Sortable results table"
When results are show in the "issues" window, they are organized in a tree widget which is organized by file.

That is overly strict for a top-level summary view of results. At a minimum, results can have a priority or a severity and it is desirable to see the results sorted by severity. More generally, it may be beneficial to have a summary view that is a table with multiple columns, e.g., (brief

[2018-05-14 22:06] rscrivens commented on #24
Thanks, that's a good idea, I'll split these into three different feature requests.

[2018-05-15 17:48] rscrivens commented on #28
The sorting would be a feature request we can make on VSCode as they're the ones controlling the Problems panel behavior and functionality. There are already a few open issues on vscode for flat list problems view and a way to group the result other then by file.

It does look like for now you can use the filter box to narrow down the severity results, I tried error, warning and info and it filter

[2018-05-15 20:52] rscrivens opened #31 "Add ability to show more then 250 issues per file in problems panel"
VSCode currently limits 250 diagnostics per file per DiagnosticsCollection. This prevents us from showing all of the results in a file if it's greater then 250. We currently display a custom error message after 249. A couple of possible ways to go above 250(I'm in favor of the first option):

* In the extensions DiagnosticsCollection Controller we could add an array of DiagnosticsCollections and o

[2018-05-15 21:30] rscrivens opened #32 "Add view of the codeflow message inline in the editor"
Add an inline view of the codeflow steps message. This will allow the user to see the message/description right next to the code.

Open questions:
* do we want to show all of the messages or only the current one selected?
* should we show the message in the line above(via codelens) or to the right of the line(via decoration)?

[2018-05-16 18:02] rscrivens opened #33 "Add diagnostics for notifications in Invocation"
If there are any warnings or errors in the ToolNotifications or configurationNotifications properties we should create and add diagnostics for those to show up in the problems window.

[2018-05-16 20:02] rscrivens opened #35 "Add support for listing and displaying result Attachments"
Sarif V2 allows the result to have attachments. We should add a way to display the attachments as links for files. If it's a screenshot we should look into if theres a way we can display the image, including if there is a rectangles property we could try to draw the rectangle.

[2018-05-16 20:08] #16 closed

[2018-05-23 02:05] rscrivens opened #39 "Github Security vulnerability notification for CVE-2018-3728"
Known vulnerability found

CVE-2018-3728
Moderate severity
hoek node module before 5.0.3 or 4.2.1 suffers from a Modification of Assumed-Immutable Data (MAID) vulnerability via...

more info can be found here:
https://nvd.nist.gov/vuln/detail/CVE-2018-3728

[2018-05-23 02:29] #39 closed

[2018-05-23 17:16] rscrivens commented on #35
Majority of this task was completed for V2.0.0. We currently do not support drawing the rectangles. Which should be a future enhancement.

[2018-05-23 17:16] #35 closed

[2018-05-23 19:18] dgmelski commented on #32
Is below the line an option? I think that's what CodeSonar and Clang Static Analyzer do.

Either above or below may sometimes split a multi-line statement. I'm not sure what existing tools do in that case. It might be an argument for "to the right."

Which messages are shown inline could be tied to the "level of detail" option. Arguably should be. (You could have two separate "level of detail" sli

[2018-05-23 20:56] michaelcfanning commented on #28
tree widget vs. flat list is an important question. maybe we just need to develop both as an option. in the short-term, we should providing an option to reorganize the tree by priority, rules, etc.

let me loop in Jefferson king. we can add separate views as required to make progress.

[2018-05-23 21:04] michaelcfanning commented on #32
I believe most viewers puts this information below the line. @rscrivens, VS code lens can provide another data point as far as current viewer behavior.

I tend to agree we could consider two exclusive modes, either the discrete code flow navigator or the inlined view. We definitely should have a single detalis widget that applies to either experience.

We will retain path highlighting for verbose

[2018-05-23 21:10] michaelcfanning commented on #31
Sort and other options should work against complete set.

Let's focus on the our separate view that show all content for now.

[2018-05-23 21:12] michaelcfanning commented on #25
@rscrivens, feel free to resolve this when you get a chance

[2018-05-23 21:26] michaelcfanning commented on #24
Larry will take a close look at whether the new SARIF v2 can properly support these scenarios. Current SARIF seems particularly ill-suited to indicate branches taken.

If kind is readable string, perhaps we just add a new option for an image to represent the kind. Should we restore the notion of a 'target', which is a per-kind interpretation of an additional piece of data.

[2018-05-23 21:28] michaelcfanning commented on #23
This seems important to tackle in the short-term

[2018-05-23 21:29] michaelcfanning commented on #14
Useful debugging feature. Rough equivalent exists in VS add-in. Add at your discretion @rscrivens

[2018-06-01 00:43] rscrivens commented on #32
After investigating/prototyping, the options for below the region either have issues or aren't supported yet:
- Codelens Below: only seem to display above the region it's associated with, so to get it below I assign the code lens to the line after the end of the region. But this can cause indentation issues if the next line is indented differently then the region the message is for:
![image](https

[2018-06-04 22:43] rscrivens commented on #24
Here's a screenshot of the proposed Call and CallReturn icons feature on line 23 and 53 in the image, these are placed based off of the change in nestingLevel between two locations(if it increased we put a call icon on the first one, if it decreased we put a callReturn icon on the first one):
![image](https://user-images.githubusercontent.com/34690530/40945290-ff53c484-680c-11e8-8336-9b50c72532e3.

[2018-06-05 19:58] #32 closed

[2018-06-07 00:46] rscrivens commented on #24
Thanks for the feedback. Here's what I came up with based on your comments. Let me know what you think or if I missed anything:
VSCode debugger uses these two icons for step into/out of:
![image](https://user-images.githubusercontent.com/34690530/41068369-fde2656e-699d-11e8-8a81-a0961679de7b.png)

So I pulled from those to create some new distinct icons for the 3 scenarios:
![image](https://user-i

[2018-06-11 22:24] rscrivens commented on #24
Updated the icons with feedback from Mike. Here's the latest:
![callicons](https://user-images.githubusercontent.com/34690530/41260085-e39084b6-6d8a-11e8-837c-9308e2e13f8a.png)
Screenshots of the new icons:
1.
![image](https://user-images.githubusercontent.com/34690530/41260189-466377ce-6d8b-11e8-8a77-70cf4d01b0a2.png)

2.
![image](https://user-images.githubusercontent.com/34690530/41260225-614667

[2018-06-12 17:52] rscrivens commented on #23
I'm changing these two keybindings from F9 and F10 to Ctrl+F9 and Ctrl+F10. With the previous key mapping it was interfering with VSCodes default F9 command which adds a breakpoint to the current line in the editor.

[2018-06-15 00:19] rscrivens commented on #24
Closing this issue as the feature has been checked in. Can open a new issue if we want to discuss improvements to the icons.

[2018-06-15 00:19] #24 closed

[2018-06-15 00:19] #23 closed

[2018-06-19 17:10] rscrivens opened #50 "Add a way to set rootpaths into the settings for remapping a file"
Add a way to set an array of paths to the settings for default remapping. This will allow someone to set their repo directory once and when they open a sarif file it will try to remap using that directory before asking the user to correct the path.

[2018-06-19 17:13] rscrivens opened #51 "Add support for V1 sarif files back in using the Sarif SDK upgrader"
using the Sarif SDKs new upgrader that converts a v1 to v2 sarif format we can detect it a file is v1 and upgrade it into a temp folder for use during the session. Will need to remove the file when the vscode session ends.

[2018-06-19 17:31] rscrivens opened #52 "Add progress message while processing the results file"
This is especially important if there are a large number of results. Can show they user the progress of reading the results something like "Processing 42/2000 results" and have it count up as it processes.

[2018-06-19 20:46] rscrivens commented on #31
closing this issue as we're tracking the sortable table in a different issue #28

[2018-06-19 20:46] #31 closed

[2018-06-19 20:47] rscrivens opened #53 "Convert Sarif Explorer from previewHTML to webview"

[2018-06-19 20:49] rscrivens opened #54 "Show selection change in the sarif Explorer while keynavigating through codeflows"
After we get the Sarif Explorer converted to a webview we can then use the two way communication channel to update the selection in the codeflow panel

[2018-06-19 22:10] michaelcfanning opened #55 "Consider remapping codeflow next/previous keyboard mappings to something typical"

[2018-06-19 22:17] michaelcfanning commented on #55
VS Code mappings for Windows, Linux, and mac OS show F8, shift-F8 as go to next/previous error.

I suggest we use F7 + Shift F7 as the step-through for a code flow associated with the current error.

Note that F3/Shift-F3 is grabbed by find/replace. F9 sets a breakpoint in Windows.
F7 does not seem used currently for core gestures.

https://code.visualstudio.com/docs/getstarted/keybindings

@rscri

[2018-06-19 22:18] michaelcfanning opened #56 "Add icons for branching within a thread flow"

[2018-06-20 19:51] #50 closed

[2018-06-21 17:23] rscrivens commented on #55
I just checked my live version of VSCode and these are default mappings for F7(not sure why they're not on the site you pointed to):
![image](https://user-images.githubusercontent.com/34690530/41734468-e777e516-753b-11e8-8532-e124ffe2eeb1.png)

A lot of the keys are taken, F6 seems like it has only 1 and it's while in debug mode, so we could define while not in debug mode, so we don't interfere wi

[2018-06-26 19:24] michaelcfanning opened #58 "Remapping dialog doesn't prompt for original file path"
When we go to remap a SARIF file, the file open dialog comes up with no additional information on what file we should be looking for.

[2018-07-02 10:19] lukecartey opened #59 "Support `uriBaseId`"
SARIF supports the concept of URIs which are relative to some `uriBaseId`. The spec includes this example:
[code]
Here, `uri` is a _relative reference_ to a given base - in this case `%srcroot%`. This makes it easier to provide portable SARIF files - typically, the `uri` property is given as a relative reference to the root directory of the project, removing the machine specific part. In fact, the

[2018-07-02 10:42] lukecartey opened #60 "Embedded links at the start of messages not correctly identified"
Embedded links are not processed when they occur at the start of a message.

Inspecting the relevant [code](https://github.com/Microsoft/sarif-vscode-extension/blob/eb5a3e6111942eb49f14e330a111433793f361ab/src/Utilities.ts#L119):
[code]
This is because the regex requires a non backslash character to occur before the match, which is not present when the `[` is the first character in the message. On

[2018-07-04 01:35] rscrivens commented on #59
thanks for the feedback, we have a task #25 that's on the backlog for adding this support. Looking to adding it in for the next milestone.

[2018-07-04 01:37] rscrivens commented on #58
the Ux for file remapping has been changed. with the check in for #50 adding a way to set rootpaths to the settings. These changes will be available next release.

[2018-07-04 16:51] lukecartey opened #61 "Suggestion: don't ask for mapping when file contents are embedded"
The following message appears whenever a SARIF file is loaded for which we don't have a current mapping:

![image](https://user-images.githubusercontent.com/5377966/42288321-19cf456a-7fb2-11e8-9799-616d929a8ea5.png)

However, this is confusing when the SARIF file contains embedded file content. In that case, if you click "Later", all the files will be loaded from the SARIF file itself i.e. the map

[2018-07-04 16:58] lukecartey opened #62 "End column should be exclusive, not inclusive"
The v2 spec says:

When a region object represents a text region, it MAY contain a property named endColumn whose value is an integer whose value is one greater than the column number of the last character in the region.

Currently, the extension treats the endColumn as the column number of the last character in the region, so the highlighted range is one greater than it should be.

Note: endColum

[2018-07-06 18:35] rscrivens commented on #61
This dialog should only show up if it can't find the files, including checking if they're embedded. My guess is there is at least 1 file that isn't embedded that the extension is asking input for. It should become clearer which files it can't find with the newest changes, which will show the actual file path it's trying to find. If you still run into this issue after I push out the next update, I'

[2018-07-09 21:45] #54 closed

[2018-07-09 21:46] #53 closed

[2018-07-10 22:53] rscrivens commented on #61
The latest set of changes have been pushed out in update 2.2.0 , could you give it a try and see if the changes to the remapping addresses this issue?

[2018-07-10 22:55] rscrivens commented on #58
The latest changes have been pushed out in update 2.2.0 , included in the change is one that addresses this issue. Closing this issue, if you still find problems with the new changes feel free to add additional details and reopen.

[2018-07-10 22:55] #58 closed

[2018-07-12 19:49] #61 closed

[2018-07-12 19:49] #60 closed

[2018-07-24 00:04] rscrivens opened #69 "Add build instructions to the documentation"
Add to the contribution file details on how to build the project

[2018-07-24 00:06] rscrivens opened #70 "Create an initial set of feature tests"
Can use the existing setup structure in the src/test folder.

[2018-07-24 15:01] michaelcfanning opened #71 "Rebasing is cumbersome"
We lost the file picker, can you please find a way to return it? I was unable to manually update the file path for the SDK SDV tests. The process was cumbersome.

Please follow up with the VS Code team on the failure to provide a mechanism to add a title to the file picker. That is either possible with their API or it is a bug they should fix. It is a significant issue is a file picker comes up wi

[2018-07-24 15:34] rscrivens commented on #62
Thanks for the bug @lukecartey I'll investigate, should be a relatively easy fix.

[2018-07-24 15:44] michaelcfanning commented on #62
Thanks for tackling this, Rusty. Put me on the PR and I'll see if I can start ramping up a bit more on this code base.

[2018-07-25 21:21] rscrivens commented on #71
Thanks for the feedback. I'll add this to the backlog to investigate in a future milestone. An initial idea to discuss:

The vscode team has a proposed api that gives an inputbox with more control. It has a way to set buttons, so maybe one option is to keep the current inputbox look and add in a button to pop open an open file picker to it, then once the file is selected we can update the string i

[2018-07-26 00:14] michaelcfanning commented on #59
Oops, I see my confusion. This is a duplicate of #25 and that item is clearly marked for current release process. Sorry for the noise, closing this item.

[2018-07-26 00:14] #59 closed

[2018-07-26 00:22] michaelcfanning commented on #71
Makes sense. If VS Code is close to shipping a relevant improvement, let's wait for it.

In the meantime, thanks for your offline comments on the feature. I was confused by the UI because it only verifies the path looks valid. It doesn't actually confirm whether the file exists until you hit enter. We might consider doing the file existence check right away. If it exists on disk, shouldn't we just

[2018-07-26 00:23] michaelcfanning commented on #62
Thanks for addressing this. My apologies for failing to notice this was scheduled for the 2.3 milestone.

[2018-07-28 15:59] michaelcfanning commented on #71
Note that uriBaseId use greatly simplifies this problem, you just need to query the user to resolve the set of unique uriBaseIds encountered in the file.

[2018-07-30 07:07] rscrivens commented on #71
Regarding the file existence check on initial value, we do set a validator, but vscode handles when to validate and what to do when we return a message for invalid data. When I checked this in it was working correctly where it would show the invalid redbox and message on the initial value. But it looks like vscode made a change that while it still validates the initial value it no longer shows the

[2018-08-01 21:07] #62 closed

[2018-08-01 21:08] rscrivens commented on #62
Fix has been merged into dev branch, it'll be in update 2.3.0, releasing this week.

[2018-08-02 14:51] #69 closed

[2018-08-02 17:25] #25 closed

[2018-08-02 17:36] rscrivens opened #76 "Rootbase value doesn't work if no \ is at the end"
We should Path join and normalize the rootbase with the path when trying to apply the rootbase.

[2018-08-02 19:07] rscrivens opened #77 "Automate release steps when pulling Dev into Master branch"
A task to cover automating the release steps when pulling Dev into Master branch.

Some tasks to automate include:
* Creating a tag based off of the version
* Creating a release based off the version, (assigned to the tag)
* Attaching the vsix to the release
* Packaging the vsix
* Publishing the vsix to the marketplace
* Running the test suite

[2018-08-09 00:02] rscrivens commented on #76
can no longer get this to repo, checked the code and it looks like we're correctly joining the paths, which adds the appropriate separator if one is not already there. Closing.

[2018-08-09 00:02] #76 closed

[2018-08-20 17:01] #52 closed

[2018-08-23 19:21] rscrivens opened #79 "Add converter functionality from sdk to the extension"
Look into/implement running the sarif sdk converter on files to then load them in the sarif viewer.

Initially thinking a vscode task could run the exe on the file, and put the created sarif file into the same temp location we create when an embedded file is created. Then open the newly created sarif file to view the sarif details.

Open question:
* How do we trigger when a file needs to be conver

[2018-08-28 16:21] EasyRhinoMSFT opened #81 "Code flow items get ugly with a long file path"
Causes the location text to wrap. Suggest ellipsis truncation if possible (but keep the line # visible)

[2018-08-28 16:34] EasyRhinoMSFT opened #82 "Whole-line code flow location don't highlight"
Sample attached. Choose result that begins with "Attackers are able..."
The first two code flow locations are whole-line, i.e. startLine and endLine are the only region properties and they have the same value.
[FortifyDemo.fpr.v2 .sarif.txt](https://github.com/Microsoft/sarif-vscode-extension/files/2328920/FortifyDemo.fpr.v2.sarif.txt)

[2018-08-28 16:36] EasyRhinoMSFT opened #83 "Source file rebasing textbox doesn't allow normal local file paths"
C:\src\blah.cs should work, but file:/// prefix is required.

[2018-08-28 16:50] EasyRhinoMSFT commented on #82
[ContentFileHandlingController.cs.txt](https://github.com/Microsoft/sarif-vscode-extension/files/2328995/ContentFileHandlingController.cs.txt)

[2018-08-28 16:57] EasyRhinoMSFT opened #84 "Source file opens in both group panes and Explorer UI is not the active tab"
1. Open the attached log
2. Select the first result (and do the rebase if necessary)
3. Click a codeflow step
4. Select the second result

The source file for the second result opens in both group panes and the Explorer UI is not the active tab in the right pane.

[FortifyDemo.fpr.v2 .sarif.txt](https://github.com/Microsoft/sarif-vscode-extension/files/2329003/FortifyDemo.fpr.v2.sarif.txt)
[Conten

[2018-08-28 17:03] EasyRhinoMSFT commented on #84
The source file opens on both sides after a number of other usage sequences, but usually the Explorer UI ends up as the active tab. There is an ugly transition though, where I see the source file for a split second before it switches to the tool window.

[2018-08-29 18:52] rscrivens commented on #84
unfortunately I don't think this is something I can control, as the problems panel controls opening the source file when you click on a result in it. And so it's deciding to open the file on the right panel (because it last had focus) even though the file is already open on the left panel.

[2018-08-29 18:52] #84 closed

[2018-08-29 18:54] rscrivens commented on #82
let me double check on the latest I might have fixed this with my most recent changes. If not it should be a quick fix.

[2018-08-29 18:55] rscrivens commented on #81
good point, I'll look into adding a truncation for the file name to keep it cleaner.

[2018-09-04 18:30] cfaucon opened #86 "No README documentation for building the viewer from source to local vsix for installation"
There is no documentation on how to build this viewer locally after a git clone, and how to produce a package that can be installed locally to VSCode.

[2018-09-04 18:48] rscrivens commented on #86
I have all the build/install info in the Contributing file here: https://github.com/Microsoft/sarif-vscode-extension/blob/master/CONTRIBUTING.md

Seemed to make the most sense there as the readme is also what gets shown on the vs extension's page.

[2018-09-05 20:16] #86 closed

[2018-09-05 20:18] rscrivens commented on #83
With the latest changes in Dev the user now just needs to enter the "normal" local file path ex. d:\folder\file.ext

[2018-09-05 20:18] #83 closed

[2018-09-05 20:39] rscrivens commented on #70
Initial set of tests are in. Closing this. plan is to continue to contribute new tests as often as fits in the schedule.

[2018-09-05 20:39] #70 closed

[2018-09-05 20:43] rscrivens commented on #71
in checkin #85 I've updated the user input to use the more customizable input dialog. I've added a button to open a file picker, added a skip to next mapping button, fixed the red box not showing on first load, and removed the file:/// from the UI entirely so the user now just needs to put in a "normal" path ex. d:/folder/file.ext

[2018-09-05 20:43] #71 closed

[2018-09-05 21:18] rscrivens commented on #82
I checked with the latest in Dev branch and this looks like it's fixed. Closing, feel free to reopen if it still repos for you after the next released update (or if you run a build from the dev branch).

[2018-09-05 21:18] #82 closed

[2018-09-06 06:01] rscrivens commented on #81
Added an ellipse, and tweaked the layout to better show the code flows with larger file names and when the window width is reduced

[2018-09-06 06:01] #81 closed

[2018-09-13 17:31] rscrivens commented on #79
Started implementing this and answered my open question above. Looks like there is no good way to automatically detect if a arbitrary non-sarif file should be converted to a sarif file. many of the tools use .xml for their output with nothing in the xml that easily lets me know it's an analysis log file or which tool it came from.

So the current solution I'm implementing is a new command that ope

[2018-09-14 22:53] rscrivens opened #92 "New input dialog for remapping can be accepted with an invalid path"
Need to add a handler for onAccept and prevent the action if the current path is still invalid.

[2018-09-17 18:35] #92 closed

[2018-09-17 21:45] rscrivens opened #96 "Sarif Explorer doesn't refresh on remapping"
Need to refresh the sarif explorer if a remapping occurs, to refresh the links.

[2018-09-18 17:26] #79 closed, assigned to rscrivens

[2018-10-29 12:23] lukecartey opened #102 "Files with a uriBaseId set to a variable cannot be loaded"
I'm having trouble getting a SARIF file with `uriBaseId`s to be appropriately handled by the VS Code extension. I'm encountering a number of (seemingly related) problems.

I've attached a minimal test case here: [uri-base-id-failure.zip](https://github.com/Microsoft/sarif-vscode-extension/files/2525080/uri-base-id-failure.zip). As well as the failing test case, I've also included a version of the

[2018-11-02 20:12] #28 closed

[2018-11-03 02:41] #96 closed

[2018-11-08 22:33] rscrivens opened #107 "Add a Search/Filter feature to the new Results List"
Add a way to Search/Filter the Results List which would narrow down the amount of results in the list based on the search/filter value entered. A couple of things to figure out:
* do we remove groups that after filtering have no results?
* do we allow the user to narrow down the search/filter by specifying a column to search, such as:
      resultId:1234
* do we want to provide case/ignore case op

[2018-11-08 22:34] rscrivens opened #108 "Add way to reorder the columns in the Results List"
This is to add a way to reorder the columns. Without adding additional UI to the window, we could just add a setting, that allows the user to change the order.

[2018-11-09 23:03] rscrivens opened #109 "Sarif Explorer window is opening when the extension gets activated regardless of if a Sarif File was opened"
This is an issue because the extension listens for a sarif file to opens, it activates when a file opens, which means the first time in a fresh instance of vscode a file gets opened the sarif extension activates and the Sarif Explorer opens.

On activation we need to not load the Sarif Explorer, but to wait for the first sarif file opened to load it.

[2018-11-12 20:40] #109 closed

[2018-11-20 21:04] markhermelinggt opened #112 "SARIF Explorer does not handle multiple issues with the same line and column number well"
I have a SARIF file with multiple findings on a single line at the same column. When I double click the first time on an issue on line x, column, then the SARIF explorer updates. However, when I double click on another issue on the same line and column, then the explorer does not update.

VSCode Version: 1.21.1
OS Version: MacOS 10.14
Steps to Reproduce:

Have a SARIF file with several issues with

[2018-11-21 19:53] rscrivens commented on #112
Thanks for the bug, I think this is due to a limitation of how we're detecting when an issue is selected. We use CodeActions that gets triggered when a location gets focus that we have a diagnostic at. But we don't have a way to determine which result if there are two at the same location. I don't think there is a way to get the currently selected diagnostic in the problems view. I'll open an issu

[2018-11-21 22:31] rscrivens opened #113 "Sarif Explorer is not loading on Linux OS due to a casing mismatch in the file name"
in the html we are referencing the resultsList.js file without the uppercase "L" in list. This is causing the file not to be found on Linux machines and the Sarif Explorer not to load.

[2018-11-21 22:39] rscrivens opened #115 "Start column displayed in Results List is off by 1"
This is because we convert to zero based for VSCode's region, needs to be converted back to 1 based for display

[2018-11-21 23:37] #115 closed

[2018-11-21 23:37] #113 closed

[2018-12-12 02:44] rscrivens commented on #51
should be covered in the upgrade feature in v2.7.0

[2018-12-12 02:44] #51 closed

[2019-01-18 20:50] #107 closed

[2019-01-30 19:51] rscrivens commented on #112
The ResultsList in the Sarif Explorer allows you to navigate to different results on the same line.
![samelinedemo](https://user-images.githubusercontent.com/34690530/52008321-421da480-2485-11e9-91c3-49906d711228.gif)

[2019-01-30 21:08] rscrivens commented on #112
closing out this issue. Reopen if using the results list as shown above doesn't work for your scenario.

[2019-01-30 21:08] #112 closed

[2019-02-02 01:04] rscrivens opened #127 "Visualize the State info in the Code Flow tab"
implement a visualization of the State information in the code flow tab for the selected step

[2019-02-02 01:06] rscrivens opened #128 "Visualize the Stack info in the Code Flow tab"
implement a visualization of the Stack information in the code flow tab for the selected step

[2019-02-07 22:01] rscrivens opened #129 "Update Sarif version to 2.0.0-csd.2.beta.2019-01-09"
Need to update to the latest sarif version 2.0.0-csd.2.beta.2019-01-09. areas that need to be updated:
* Types - will need to update in definitelytyped then pull down the latest npm
* MultiTool

[2019-02-12 02:11] rscrivens commented on #10
Changes to add a fixes panel to the Result Details section is checked in #130

[2019-02-12 02:14] rscrivens opened #132 "Add apply fixes support to the fixes panel"
Add apply fixes support. Can look into using the vscode api:
https://code.visualstudio.com/api/references/vscode-api#workspace.applyEdit

[2019-02-12 18:26] #10 closed

[2019-02-12 18:27] #129 closed

[2019-02-13 20:05] rscrivens opened #135 "Switch to using Results List in Sarif Explorer instead of launching the problems panel"
The extension will still add problems to the problems panel. This change is to no longer open the problems panel with the extension, and instead to load and open the Results List as it now has has more functionality then the problems panel provides.

[2019-02-15 18:51] rscrivens commented on #135
Fix was checked in #136

[2019-02-15 18:51] #135 closed

[2019-02-15 18:54] rscrivens opened #137 "Modify Code Flow panel to support multiple threadflows"
Currently the extension only supports/displays the first Threadflow

[2019-02-18 15:33] brentshermana opened #138 "Example Sarif Files"
The version of this plugin that is currently available in VSCode supports version 2.0.0-csd.2.beta.2019-01-09 of the sarif spec. I have been having problems getting some manually written sarif to be processed correctly, but my specific issues probably won't be helpful for others, especially considering that the sarif spec is quickly evolving.

My main thoughts were that it would make sense to incl

[2019-02-19 18:24] rscrivens commented on #138
This is a good suggestion. I'll pull over a couple of the test sarif files from the sdk that match the currently supported sarif version.

[2019-02-20 21:42] rscrivens opened #139 "Update support for Sarif version 2.0.0-csd.2.beta.2019-01-24"
Update the Sarif types
Pull in the new types npm
Update the new MultiTool

[2019-02-21 00:25] #14 closed

[2019-02-25 19:00] #139 closed

[2019-02-25 21:53] rscrivens opened #142 "Add Support for RuleIndex and ArtifactIndex"
Add support for Rule and Artifact Index.

Rule index is a simple change to rely on Index instead of the Id.

The ArtifactIndex is a much larger change that requires a change to how we store the remapped file locations.

[2019-02-26 00:03] rscrivens opened #143 "Sarif Explorer is opening when extension settings change"
We should not be launching the Sarif Explorer when settings change. Only apply the settings if the Sarif Explorer is already open.

[2019-02-26 00:23] rscrivens opened #144 "Add the Rule Description next to the rule Id in the Result Info Panel"
Add the Rule description, either short or full to the right of the rule id in the Result Info Panel:
![image](https://user-images.githubusercontent.com/34690530/53378173-7ddb4b00-3919-11e9-9ebf-1ae3f7bf811d.png)

[2019-02-26 00:25] rscrivens opened #145 "Add Run invocation Duration/Start/End time to the Run Info panel"
Would be nice to add the duration of the run, including start and end time to the Run Info Panel

[2019-02-26 18:35] #142 closed

[2019-02-27 07:26] #144 closed

[2019-02-27 07:27] #138 closed

[2019-02-28 19:05] #145 closed

[2019-03-15 20:24] timhermann opened #152 "FileMapper does not handle uriBaseId pointing to a file share"
I created a sarif file from a scan of a network share. A sample originalUriBaseIds and artifact location follow:

[code]

Expected: File is attempted to be opened from the network share specified by hostName/shareName

Actual: FileMapper opens the "Sarif Result Location Remapping" dialog and has to be manually browsed to the network share path. The location that it appears to be trying to access i

[2019-05-10 22:24] rscrivens commented on #152
this should be fixed in the latest update 2.12.0 .

[2019-05-10 22:24] #152 closed

[2019-05-13 15:33] lukecartey opened #162 "Failure to open 2.1.0 log files with restarting VS code"
With the latest release (2.12.0) I get the following error message when trying to open 2.1.0 SARIF files, such as the `Comprehensive.sarif` sample in the repository:

![image](https://user-images.githubusercontent.com/5377966/57634201-c01d3b80-759c-11e9-8ab7-d613906be78f.png)

[2019-05-13 17:00] rscrivens commented on #162
Thanks for reporting this issue Luke. Did you try opening a new VSCode instance? For me after the update was installed it still have the old extension loaded in the running vscode instance but on closing and reopening the new instance had the correct version installed and was able to load the comprehensive.sarif 2.1.0 file.

[2019-05-14 11:54] lukecartey commented on #162
Thanks, restarting the VS Code instance worked.

Is it the normal workflow to require VS Code to restart before an extension update is applied? I thought VS Code extension updates were normally applied immediately (hence my confusion).

[2019-05-28 17:36] #11 closed

[2019-06-05 10:57] lukecartey opened #168 "Extension fails to load SARIF files without $schema property"
The specification says:

However, if I try to load a SARIF file without the `$schema` property set, the SARIF explorer window crashes, on this line:

https://github.com/microsoft/sarif-vscode-extension/blob/master/src/FileConverter.ts#L315

[2019-06-05 11:52] lukecartey opened #169 "Cannot load SARIF files with $schema set from sarif-spec github repo"
The specification recommends the following location be used as the value for the `$schema` property:

https://raw.githubusercontent.com/oasis-tcs/sarif-spec/master/Schemata/sarif-schema-2.1.0.json

However, the VS Code extension refuses to load SARIF files with this set as the schema property, reporting that:

"Sarif version '2.1.0' is not yet supported"

This is due to the way the extension tries

[2019-06-05 18:31] rscrivens commented on #168
good catch, I'll add a fix to only use it if it exists

[2019-06-07 20:36] rscrivens commented on #169
This should be fixed in the newest update 2.13.1

[2019-06-07 20:36] #169 closed

[2019-06-07 20:44] rscrivens commented on #168
This should be fixed in the latest update 2.13.1

[2019-06-07 20:44] #168 closed

[2019-06-07 22:20] rscrivens commented on #162
just tried the latest update, and after it installed I clicked the reload button on the extension details page and it reloaded the extension correctly. If you find clicking the reload button doesn't fix it, reopen and I can try to investigate more.

[2019-06-07 22:20] #162 closed

[2019-06-17 19:53] lgolding opened #176 "Add UI for displaying rule metadata"
The viewer is focused on displaying a list of results, and the details of a selected result. It needs a feature to display the list of rules, and details of a selected rule.

[2019-06-17 20:55] rscrivens opened #177 "Result details doesn't clear if sarif file containing result gets closed"
if the Result that's selected gets removed from the results list, its result details should also be removed

[2019-06-17 21:28] rscrivens opened #179 "Add support for displaying Logical Locations"
Add logical locations to the result info panel.
Where possible if physical location is missing try to use logical location in its place(navigate to won't work)

[2019-07-10 02:21] #179 closed

[2019-07-16 17:03] lgolding opened #184 "Render Markdown"
For any property that you display whose value is a `message` object or a `multiformatMessage` object, display that object's `markdown` property, if available (otherwise fall back to its `text` property).

[2019-07-16 17:06] lgolding opened #185 "Render links in plain text messages"
For any property that you display whose value is a `message` object or a `multiformatMessage` object, if you are displaying the object's `text` property, then render the sequence `[`_link text_`](`_link target_`)` as a hyperlink.

[2019-07-16 17:07] lgolding opened #186 "Render line breaks in plain text messages"
For any property that you display whose value is a `message` object or a `multiformatMessage` object, if you are displaying the object's `text` property, then render line breaks (`\r\n` or `\n`).

[2019-08-02 09:12] #186 closed

[2019-08-02 09:13] #185 closed

[2019-08-02 09:13] #184 closed

[2019-08-20 20:08] lgolding opened #195 "Don't interpret .text properties as Markdown"
The viewer interprets `reportingDescriptor.{short,full}Description.text` as Markdown instead of plain text.

[2019-08-20 20:23] lgolding opened #197 "Use GitHub-flavored Markdown"
The SARIF spec says it accepts GitHub-flavored Markdown (GFM). It doesn't appear to do so. Consider this rule description in a SARIF file, which includes a line break ("`\r\n`"):
[code]
The viewer renders it like this:
![image](https://user-images.githubusercontent.com/11762653/63381393-6c657f80-c34d-11e9-8238-e41d5129d074.png)
Note that there is no line break. Normal Markdown does not preserve li

[2019-08-20 21:35] lgolding commented on #195
Given that it is not rendering plain text for these properties, once this is fixed we need to
- Ensure that #185 ("Render links in plain text messages") is actually fixed.
- Ensure that #186 ("Render line breaks in plain text messages") is actually fixed.

[2019-09-03 22:39] lgolding opened #199 "On Linux, run dotnet Sarif.Multitool instead of Sarif.Multitool.exe"
A customer running the VS Code SARIF Viewer extension on Kubuntu attempted to open a Clang plist file (which he had renamed to .xml). He got this error on the developer tools console:

[code]

The problem is that the viewer always invokes `Sarif.Multitool.exe` for conversion, but on Linux it should invoke `dotnet Sarif.Multitool`.

[2019-09-03 22:56] lgolding commented on #199
@LambdaScientist-1stEdge

As a workaround, you can try this:

1. If you don't already have it, install the [.NET Core SDK](https://aka.ms/dotnetcoregs), which includes the `dotnet` command line tool.

1. Install the `Sarif.Multitool` tool package from NuGet:
[code]

3. Run the command
[code]

4. Open `myfile.sarif` directly in VS Code.

[2019-09-03 23:08] lgolding opened #200 "File open dialog for conversion restricts filename extension"
1. Press F1. The Command Palette opens.

2. Type `sarif:Convert and open a non-sarif file`. (It will auto-complete after a few characters). A list of supported tools appears.

3. Select `ClangAnalyzer`. The Open File dialog opens.

![image](https://user-images.githubusercontent.com/11762653/64214317-e4ab6500-ce64-11e9-9c78-ac35953c3b56.png)

Note that the filter dropdown only offers one option: `C

[2019-09-03 23:18] LambdaScientist-1stEdge commented on #200
Its happens on Linux as well.

[2019-09-10 16:11] michaelcfanning commented on #200
@lgolding can we get this fixed? We need a change in the vs add-in as well, see clang analyzer filter data in the following file.

src\Sarif.Viewer.VisualStudio\OpenLogFileCommands.cs

[2019-09-10 16:15] LambdaScientist-1stEdge commented on #200
@michaelcfanning In the mean time, will it work to just rename the plist files to xml?

[2019-09-10 16:20] michaelcfanning commented on #200
I believe so, unless the plist file is emitted in a binary format that we're not covering (as a cursory internet search suggests it might). If you have a repro file that you can attach here (assuming there is a problem), that could be a leg up.

We're definitely committed to getting this scenario working. If we need additional support for some uncovered plist format, we'll make it happen.

[2019-09-10 17:13] lgolding commented on #200
Yes, I'll fix this today.

[2019-09-24 04:16] lamaks opened #202 "When SARIF file contains URL artifact VS Code extension fails to open"
The extension will fail to open a SARIF file with artifact set to URL. Expected that extension will open a file and display interface with file content parsed.

The SARIF file is created using [axe-sarif-converter](https://github.com/microsoft/axe-sarif-converter)

Error message when open SARIF file:

<img width="868" alt="Screen Shot 2019-09-23 at 8 29 04 PM" src="https://user-images.githubuserco

[2019-10-22 17:37] samyun opened #203 "'\' can not be found"
Hello, I have a sarif v2.1.0 file that I'm trying to open.

When I first opened it, the extension prompted me to remap a certain file, and I passed in the file path (d:\ada\src\{path}\{to}\{file.cpp}).

Then it prompted me for the path to '\'. I have no idea what it might be asking for. Ignoring it seems to load the results.

Is this something I should be worried about?

[2019-11-26 12:43] rkkoszewski opened #204 "Unable to scroll inside the SARIF Explorer tab (Results list is too big)"
Hi,

I have over 2900 results in the Results List in the SARIF Explorer tab, so the list overflows as expected with so many results. But there is no scrollbar in the SARIF Explorer view, using the mouse scroller does not have any effect eider and keyboard navigation doesn't seem to be supported eider.

I don't see any exception messages showing up anywhere during the parsing of the sarif file, so

[2019-12-05 01:23] lgolding opened #205 "Support result.hostedViewerUri"
Display the property `result.hostedViewerUri` with a hyperlink to enable to user to navigate to the analysis tool's hosted viewing experience.

Per §3.27.28:

[2020-01-10 19:49] lgolding commented on #197
In the most recent version, it renders the line breaks as `\r\n`. You can see from the bold text (**CVE-2014-4075**) that it _is_ rendering Markdown, not plain text.

[2020-01-11 01:14] BastienFaure commented on #204
Is there any plan to fix this issue in the next days/weeks ? I can work on a fix if nobody is assigned to that task.

[2020-02-18 19:01] BastienFaure commented on #204
Is this project... dead ?

[2020-02-28 18:16] lgolding opened #206 "Viewer must filter out 'absent' and 'suppressed' issues by default"
For now, we should remove those issues entirely. In future, we can consider a UI affordance to display them.

[2020-03-05 13:30] clemensw opened #207 "VS Code extension shows no results if any result has snippet.text = """
sast-scan produces Sarif files with empty text properties:
`"physicalLocation": {
                "region": {
                  "snippet": {
                    "text": ""
                  },
...
}`
If any results have such an empty region.snippet.text no results display and the extension remeins empty.  Adding non-empty (spaces seem to be stripped) text to that property causes all results to  be

[2020-03-10 15:00] michaelcfanning commented on #204
This project was not dead, merely dormant. :) We'll get this taken care of.

[2020-03-15 17:30] #204 closed

[2020-03-30 18:19] GabeDeBacker opened #212 "Remove duplicate VSCode diagnostic concepts (and backpointer to run info)"
When this PR was completed #211, a new concept of the "vscode diagnostic" was introduced that was intended to replace the one in "common interfaces".

[2020-03-31 16:38] #212 closed

[2020-03-31 16:40] GabeDeBacker opened #215 "File mapping should be on-demand rather than during parse time"
Currently the file-mapping UI pops up while the SARIF log files are being parsed.

Depending on how the user responds to the UI, it can keep popping up as more and more unknown root paths are encountered.

We have decided to make this on-demand while the user interacts with the UI rather than during parse.

[2020-04-06 21:04] lgolding opened #217 "Extension doesn't recognize rtm.5 schema"
Creating a new SARIF file by hand in VS Code:

![NewSarifFile](https://user-images.githubusercontent.com/11762653/78604872-57bbf600-780f-11ea-99b6-e4b3ee12da07.png)

I get this:

![SchemaNotRecognized](https://user-images.githubusercontent.com/11762653/78604915-702c1080-780f-11ea-8a55-368ddaa2c75e.png)

This URL validly points to the rtm.5 schema on schemastore.

[2020-04-07 17:06] lgolding opened #219 "Viewer reports twice the number of expected results"
I loaded a SARIF file with 11008 results. The VS viewer:

![image](https://user-images.githubusercontent.com/11762653/78698528-52b28180-78b7-11ea-9c43-fb17d61351b4.png)

and the web viewer:

![image](https://user-images.githubusercontent.com/11762653/78698426-2c8ce180-78b7-11ea-8669-cedca8446563.png)

agree on this number. But the VS Code viewer reports 22016 results:

![image](https://user-images

[2020-04-07 18:35] lgolding commented on #219
When I close and reopen VS Code and then load the SARIF file again, the number of issues is correct. The problem might be triggered by (for example) opening the same file twice, but I haven't been able to repro it. I'll reopen this if I see it again.

[2020-04-08 03:41] harleenkohli opened #220 "The viewer gets very sluggish to use for big sarif files."
We tried to open a file which 10000+ sarif results (14 MB). The load is slow and it is difficult to navigate file nodes in the viewer (e.g. when opening/closing per result expanders) or changing "group by" drop down.

![image](https://user-images.githubusercontent.com/23230747/78742119-fe87bb80-790f-11ea-995f-b149e87c2df0.png)

To repro this issue, please get the 10000 results file from Larry or m

[2020-04-08 03:54] harleenkohli opened #221 "The records in the "Results" viewer are reloaded every time we switch between opened files in VSCode."
Repro steps:
1. Open a sarif file in VSCode extension. Allow it time to load properly in the viewer pane.
2. Open another file/window.
3. Rapidly switch between the two windows.

Notice that the records count becomes 0 for a short while in the sarif viewer pane. This issue is concerning specially when we are dealing with a huge sarif file since it takes significant time to load again.

![image](ht

[2020-04-08 03:59] harleenkohli opened #222 "There is no way to scroll down to "details" pane if all the available space in taken by "results" pane records."
Typically, another "Details" pane is visible at the bottom of "results" pane which shows information when a specific record is selected in the "Results" pane.

If there are a lot of records so that the whole "Results" pane is filled, there is no way to view the "Details" pane. Scrolling is not possible and nothing pops-up on the screen to view it.

We tried this with a file with 10000+ records. To

[2020-04-08 15:10] #219 closed

[2020-04-08 17:00] michaelcfanning opened #223 "Provide right-click gestures or some other UX for collecting feedback on issues"
Large topic. We need UX, discussion of extensibility model, and range of developer dispositions/feedback options.

[2020-04-09 18:06] lgolding opened #224 "Viewer doesn't deal well with binary files"
1. Load the sample SARIF file [EmbbeddedBinaryContent.sarif](https://raw.githubusercontent.com/microsoft/sarif-samples/master/samples/EmbeddedBinaryContent.sarif).

2. Double-click on its single result.

Expected: Well, it's not clear what to expect here, because I don't know VS Code's facilities for displaying binary files.

Actual: It loads the 5-byte contents into a text editor window and displ

[2020-04-09 19:07] GabeDeBacker opened #225 "Results pane does not always correctly select result when selection moves in editor"
Using a sample SARIF file with a large number of results in it, the results pane does not always move to the correct diagnostic when selection changes in the editor.

In some cases, it doesn't change at all.

[2020-04-09 20:37] GabeDeBacker opened #226 "When SARIF conversion fails to upgrade schemas, all of the error details are not collected"
When the SARIF view fails to "upgrade" a SARIF file that has an earlier schema, it does not properly collect all the data written to standard out and only shows the error code.

The user is left with "Sarif upgrade failed with error:" and nothing else.

[2020-04-09 20:38] #200 closed

[2020-04-09 23:43] #226 closed

[2020-04-10 14:02] #225 closed

[2020-04-10 14:09] GabeDeBacker opened #229 "The multi-tool converter in the new SARIF SDK npm package fails"
SARIF files that need to be upgraded to the latest schema version fail when the “multi-tool” is run from the NPM package, this exception occurs:
Error:
  An assembly specified in the application dependencies manifest (Sarif.Multitool.deps.json) was not found:
    package: 'CsvHelper', version: '15.0.0'
    path: 'lib/netstandard2.1/CsvHelper.dll'

[2020-04-10 14:12] GabeDeBacker opened #230 "Consider providing ability to override Multi-Tool conversion tool path"
It is possible to work issue #229, by cloning the SARIF-SDK repository and build the multi-tool yourself.

However, it requires code change (or mocking) to launch the multi-tool from a different location.

Adding the ability to override the multi-tool path would allow testing of a new SDK with the Plugin in the market-place as well as ease development.

[2020-04-10 14:15] GabeDeBacker opened #231 "Add an option for taking focus to source when moving between results"
When moving between results in the "explorer" viewer, some users seem to prefer that it take them to the source code AND put focus on the editor, while others prefer opening the source, but leaving focus in the editor.

Seems legitimate and an easy option to add.

[2020-04-10 14:16] GabeDeBacker opened #232 "Keyboard navigation in results list, well, doesn't work"
While prototyping a fix for #231, which will leave "focus" in the explorer view, you quickly discover that while focus stays in the results list viewer, you cannot use the arrow keys to navigate between them.

[2020-04-10 14:18] GabeDeBacker opened #233 "Selecting a new issue\diagnostic does not scroll it into view in the "result" explorer"
When a navigating through the source code (which will set an active diagnostic), or by selecting one in VSCode's problems pane, then active diagnostic is not scrolled into view in the "Result" explorer.

[2020-04-10 14:24] GabeDeBacker opened #234 "SARIF view code needs to be at least "set up" for localization."
Currently there are hard-coded strings everywhere in the SARIF view code.

It should consider using vscode-nls-dev framework to at least be "able" to be localized. The earlier we do this, the better as it will become harder and harder as more code is added.

[2020-04-10 14:28] GabeDeBacker commented on #234
A simple example of doing this can be found here:
https://github.com/microsoft/vscode-extension-samples/tree/master/i18n-sample

[2020-04-11 17:11] GabeDeBacker opened #238 "Decouple log reader from diagnostic collection"
Now, I am a huge fan of functions that do not serve two purposes.  This function in the log reader currently also adds the results to VSCode's diagnostic collection and it takes a parameter indicating if whether that is desired.

[code]

Be patterned in such a way that what it returned was an object like:

[code]

The issue with the way the code is now is that it “ties” the reader to the VSCode di

[2020-04-13 16:42] #233 closed

[2020-04-13 20:47] #234 closed

[2020-04-14 13:08] GabeDeBacker opened #240 "Consider decoupling progress UI from Log Reader"
The SARIF log reader is currently driving VSCode's "withProgress" UI when parsing SARIF files.

The idea for this issue is to decouple that from the log-reader so the log-reader purely becomes a data model only piece of code. It can still have "progress" events, but it will be up to the consumer to handle and display them.

This would also remove the need for a singleton "progress helper" class.

[2020-04-14 13:34] #230 closed

[2020-04-14 13:35] GabeDeBacker commented on #217
@lgolding - This is fixed in the master branch

[2020-04-14 13:35] #217 closed

[2020-04-14 13:37] GabeDeBacker opened #242 "Clean up remaining lint issues"
After turning on more linting for the extension code during this pull request #235 , there are a number of lint issues remaining. We should clean those up

[2020-04-14 15:38] #215 closed

[2020-04-14 15:44] GabeDeBacker opened #244 "Add command to allow other extensions to open SARIF files"
There are external extensions that produce SARIF files and currently the only way to view the SARIF results is to open the SARIF file in the editor.

An example would be an extension that performs it's own static analysis during a "build".

The concept here would be to allow an extension to direct the SARIF extension to parse and open the SARIF results in the viewer.

The arguments to the command

[2020-04-15 15:14] #238 closed

[2020-04-15 15:56] GabeDeBacker opened #246 "Clicking on "Location In Log" in Result Info does not take you to the correct location"
When clicking on the the "location in log" in the "Result Info" tab of the explorer view, it does not take you to the SARIF log file, instead it takes you to the "source file with the error" rather than the SARIF log.

[2020-04-15 16:33] GabeDeBacker opened #247 "Sarif Viewer opens on any JSON file open"
The viewer opens every time you open a JSON file, regardless if it is SARIF or not.

[2020-04-16 00:18] GabeDeBacker commented on #244
This issue will remain open until we decide if we want to publish an NPM\Node package for the API

[2020-04-16 18:48] lgolding opened #250 "One out of six column numbers is off by one"
[CodeFlows.sarif.txt](https://github.com/microsoft/sarif-vscode-extension/files/4489165/CodeFlows.sarif.txt)

The attached sample has two code flows, each with three locations, all of which have `"startColumn": 8`. The Visual Studio extension renders it correctly:

![InVisualStudio](https://user-images.githubusercontent.com/11762653/79494410-d109d480-7fd7-11ea-84dd-0e163fca78a5.png)

But the VS Co

[2020-04-16 19:16] jeffersonking commented on #250
It's related to the snippet length. The region has no `endColumn` so the `endColumn` is inferred from the `snippet`. The `endColumn` is off by one likely due to the `- 2`.

The VS Code range likely then constricts the `startColumn` based on the `endColumn`. And thus the odd behavior.

[2020-04-16 19:56] lgolding commented on #250
That's the bug, alright. The correct behavior is to take `startColumn` directly from the `region`. It `startColumn` is absent, per the spec it defaults to 1. There should be no calculation involved. (That's why the bug looked so odd to me; I "knew" that it should come straight from the log file, so how could it vary?)

[2020-04-16 20:05] jeffersonking commented on #250
Current the region is stored as a `vscode.Range` which applies normalization.

However, if the correct value are fed into begin with, that normalization would not be an issue in this particular case.

[2020-04-17 00:48] #246 closed

[2020-04-17 00:49] #229 closed

[2020-04-22 12:26] #247 closed

[2020-04-22 12:28] GabeDeBacker commented on #199
@lgolding - As of pull request #216 this issue should be fixed in the master branch.

[2020-04-22 12:28] #199 closed

[2020-04-22 17:56] jeffersonking opened #255 "Explorer: Unable to click on a file (which is unmapped)."
Clicking on the unmapped result raises the mapping dialog. If I cancel, it's not remembering. Next time I click, I get the dialog again. So effectively I can't click the result.

[2020-04-22 19:20] GabeDeBacker opened #256 "Results Info panel does not always update."
Given a simple C++ file and SARIF file, the results show fine, but selecting different results often results in the "result info" panel not updating.

[code]
SARIF
[code]

[2020-04-22 22:14] #256 closed

[2020-04-22 22:15] #255 closed

[2020-04-22 22:16] #232 closed

[2020-04-22 22:41] lgolding opened #258 "Allow filtering by baseline state and suppression state"
1. Add columns to display baseline state ("new", "unchanged", "updated", "absent") and suppression state ("supressed", "not suppressed").

2. The values in the baseline state column correspond _directly_ to the SARIF `result.baselineState` property.

3. By default, the baseline state column should filter to "new", "unchanged", and "updated" ("absent" issues should be hidden by default).

4. The su

[2020-04-22 22:43] lgolding opened #259 "Show the SARIF panel when opening a single SARIF file without a project"
As the code stands, when you open a folder, the extension finds all the SARIF files in the folder and displays the results in the SARIF pane. But when no folder is open and you open a SARIF file, the extension does not display the SARIF pane.

[2020-04-22 22:46] jeffersonking commented on #259
Note: This is feedback for the new webview version.

[2020-04-22 22:46] jeffersonking commented on #258
Note: This is feedback for the new webview version.

[2020-04-22 23:41] jeffersonking opened #260 "Unable to complete file remapping."
Note: I cloned the sample files from https://github.com/microsoft/sarif-tutorials. I am on MacOS. I verified this is a regression from 2.14.

Open the sample file `bad-eval-with-code-flow.sarif`. When prompted to remap, pick `bad-eval-with-code-flow.py`.

Actual: Can't submit my choice.
![Screen Shot 2020-04-22 at 2 27 27 PM](https://user-images.githubusercontent.com/3452831/80043940-eee3a780-84b7

[2020-04-23 16:57] #259 closed

[2020-04-23 18:31] lgolding commented on #259
This behaves currently in the current version.

[2020-04-23 18:41] jeffersonking commented on #258
Correction, this issue reproduces in the current version (master). Re-opening.

[2020-04-23 20:41] GabeDeBacker opened #261 "Consider adding an option to supress upgrade prompt."
When users open SARIF files directly, they are constantly getting asked to upgrade SARIF files with either Save (Temp) or Save (As).

We should consider adding an option that allows:
Prompt -> Prompts the user
UpgradeTemp-> Creates a temporary file
UpgradeInPlace -> Upgrades the SARIF in place.

[2020-04-23 21:04] jeffersonking commented on #261
If we go this direction, would be good to with common pattern is to allow the user to [Don't Show Again...]. Which goes with Gabe's suggestion of saving to config.

We have a lot of choice buttons, so perhaps the first message should just have the options:
[Upgrade][Don't Show Again]

Note: The "No" option is handled by convention via the [x]. Aka the [No] is an anti-pattern.

Subsequent prompts c

[2020-04-23 21:50] lgolding opened #262 "Results list clears after selecting an issue"
Repro:

1. In the file explorer pane, _single-click_ on a SARIF file to open it in preview.
    NOTE: For this to work, you must have the setting **Workbench** > **Editor**: **Enable preview** _set_.

2. In the SARIF pane, click on any result.

Expected:

The result file opens in a separate preview window, the SARIF file remains open, and the SARIF pane's results list remains populated.

Actual:

[2020-04-23 22:20] lgolding opened #263 "Navigating to insertion point at end of file does not work"
[RegionVariants.sarif.txt](https://github.com/microsoft/sarif-vscode-extension/files/4525522/RegionVariants.sarif.txt)

**Repro steps:**

1. Open the attached SARIF file.

2. Click the _next-to-last_ result, which navigates to an insertion point at the end of the file, specified by line/column properties (`{ "startLine": 4, "startColumn": 6, "endColumn": 6 }`).
    An insertion point cursor appear

[2020-04-24 17:55] #260 closed

[2020-04-24 22:49] GabeDeBacker opened #265 "Embed digital certifiacte in VSIX"
The current VSIX we are using isn't signed (or more to the point doesn't contain an embedded digital certificate).

While this isn't strictly required by VSCode (or Visual Studio for that matter), it is re-assuring to know that the VSIX has not been tampered with.

[2020-04-24 23:50] #265 closed

[2020-04-26 12:45] GabeDeBacker commented on #177
This issue no longer reproduces with version [Release v3.2020.424006-insiders](https://github.com/microsoft/sarif-vscode-extension/releases/tag/v3.2020.424006-insiders)

[2020-04-26 12:45] #177 closed

[2020-04-26 12:48] #143 closed

[2020-04-29 16:10] lgolding opened #270 "Viewer does not respect reportingDescriptor.defaultConfiguration"
[DefaultRuleConfiguration.sarif.txt](https://github.com/microsoft/sarif-vscode-extension/files/4552886/DefaultRuleConfiguration.sarif.txt)

In the attached sample, there are two rules, one whose `defaultConfiguration` specifies that it is an error and the other a warning. The viewer render the results for both rules as warnings

[2020-04-29 16:19] GabeDeBacker opened #271 "Only show the file name when processing sarif logs"
While processing the SARIF logs for display in the viewer, it is attempting to show the entire URI which never fits in the progress window. Just show the filename.

[2020-04-29 17:10] lgolding opened #272 "Wrong string in "level" filter"
The labels of the check boxes in the "level" filter are Error, Warning, Updated, None. "Updated" should be "Note".

[2020-04-29 17:11] lgolding opened #273 ""Call trees" => "Code flows""
In the details pain, the "Call trees" tab should be labeled "Code flows" (on the principle of "ubiquitous vocabulary") since that is the SARIF term.

[2020-04-29 17:33] lgolding opened #274 "Make code flow highlighting accessible"
1. It should respect the VS Code theme.
2. It should be configurable.

[2020-04-29 17:48] jeffersonking commented on #272
Fix in "branch".

[2020-04-29 17:48] #272 closed

[2020-04-29 17:48] lgolding commented on #273
@michaelcfanning Do you agree?

[2020-04-29 17:50] jeffersonking commented on #273
I noticed it's called "Call Trees" in the VS "Full" extension.

Also, isn't "Code Flows" confusing with regards to the code review tool of the same name?
________________________________
From: Larry Golding <notifications@github.com>
Sent: Wednesday, April 29, 2020 10:48 AM
To: microsoft/sarif-vscode-extension <sarif-vscode-extension@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.co

[2020-04-29 17:58] michaelcfanning commented on #273
I think 'Code Flows' is probably good. Yes, I appreciate it is overloaded with the MS tooling. :)

'Code Paths' might work as well. Note that I don't always think we should prefer the SARIF terminology we defined, as it is all-encompassing (across all tools and scenarios) which can sometimes compromise a term's clarity or descriptive value.

In this case, though, I think 'code flows' is actually u

[2020-04-29 18:05] lgolding commented on #273
@jeffersonking I filed the same bug against the Visual Studio extension. It should be "Code Flows" there as well.

[2020-04-29 18:06] lgolding commented on #273
@michaelcfanning I agree that SARIF terminology is not always best. I've never recovered from "`reportingDescriptor`" instead of "`rule`", so I hear you loud and clear. As with any principle, "ubiquitous vocabulary" has its limits.

But I'm glad you agree with "code flows" in this case.

[2020-04-29 18:28] jeffersonking commented on #273
Fixed: https://github.com/jeffersonking/sarif-vscode/commit/a5c5cd90411a238ab97f54d171768ad5a0fc1d83
________________________________
From: Larry Golding <notifications@github.com>
Sent: Wednesday, April 29, 2020 11:07 AM
To: microsoft/sarif-vscode-extension <sarif-vscode-extension@noreply.github.com>
Cc: Jeff King <jeffking@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsof

[2020-04-29 18:29] #273 closed

[2020-04-29 20:43] GabeDeBacker opened #275 "The "closeLogs" API doesn't work if a SARIF file is internally upgraded"
When using the "openLogs" API where a SARIF file is automatically updated to the newer schema, the viewer isn't tracking the original name, only the upgraded temp file.

We need a mechanism to track this so the closeLogs API works properly.

[2020-04-30 23:13] GabeDeBacker opened #277 "Stale results info after closing SARIF log"
When closing a SARF log open in VSCode's editor, the results list properly clears, but the "result info" pane at the bottom remains.

[2020-04-30 23:14] GabeDeBacker commented on #277
This include thread-flow steps, etc.

[2020-05-02 13:30] #275 closed

[2020-05-02 13:34] GabeDeBacker commented on #224
@lgolding - We have addressed this in the current Insiders version as well as the new UI @jeffersonking is working on.

[2020-05-02 13:34] #224 closed

[2020-05-02 13:35] #261 closed

[2020-05-02 13:39] GabeDeBacker commented on #222
@harleenkohli - This should be addressed in the Insiders version at was fixed with PR #228

[2020-05-02 13:39] #222 closed

[2020-05-16 05:15] mjbvz opened #280 "Adopt VS Code's 'asWebviewUri' API"
Hi, I maintain VS Code's Webview API

## Issue
Our telemetry suggests that your extension uses webviews and may be loading resources in these webviews using hardcoded `vscode-resource:` URIs. These URIs have some important limitations and don't work properly when VS Code is run in a browser. We are also making changes in the desktop version of VS Code that may cause these URIs to not work properly

[2020-06-10 07:08] jeffersonking opened #281 "Prepare "newui" branch for localization."
Tracking per feedback from https://github.com/microsoft/sarif-vscode-extension/pull/279.

[2020-07-02 10:02] JarLob opened #286 "2.15 release"
The latest version published in [marketplace](https://marketplace.visualstudio.com/items?itemName=MS-SarifVSCode.sarif-viewer) is 2.14, meanwhile there is [2.15 available in Releases](https://github.com/microsoft/sarif-vscode-extension/releases/tag/v2.15.0).
When I downloaded the sarif-viewer-2.15.0.vsix and ran it, it failed with the error:
[code]

Is it a broken release? Why is it not published

[2020-07-02 14:36] JarLob commented on #286
Oddly enough, I found out that double clicking downloaded vsix extension is not the the way it is supposed to work. What works is command line `code --install-extension sarif-viewer-2.15.0.vsix`.

The question, why 2.15 released in 2019 is still unpublished remains.

[2020-07-02 15:00] jeffersonking commented on #286
@JarLob we lost our primary contributor in 2019, and it seems 2.15 got lost in the process.

We have an upcoming 3.0 release (as you probably saw) in testing. We would love to have you give us feedback. Of course 2.14 is still supported if you need to fall back.

[2020-07-02 15:32] JarLob commented on #286
Sure, already installed the 3.0 version. Do you still have the intention to publish 2.15?

[2020-07-02 15:35] jeffersonking commented on #286
The current plan is to skip 2.15 and go directly to 3.0.

[2020-07-02 15:36] #286 closed

[2020-07-03 20:09] lgolding opened #289 "Details pane Full Desc doesn't render links"
In the Rule Desc Full row (and I assume, in Rule Desc Short as well, but I haven’t seen an example there), inline links are not treated as links.

[repro.sarif.txt](https://github.com/microsoft/sarif-vscode-extension/files/4871313/repro.sarif.txt)

![image](https://user-images.githubusercontent.com/11762653/86495483-693d6d00-bd2e-11ea-828b-1c9f15ee1e51.png)

[2020-07-03 21:30] lgolding opened #290 "Plain text paragraphs are run together"
Several rule descriptions (and some result messages as well) consist of multiple paragraphs of plain text. This is explicitly permitted by the spec. For example:

The viewer runs these together into a single paragraph:

<img width="793" alt="Paragraphs bug" src="https://user-images.githubusercontent.com/11762653/86498223-c4c12800-bd39-11ea-9284-b63b2a9338ed.png">

[repro.sarif.txt](https://github.

[2020-07-03 21:50] jeffersonking commented on #290
CSS `white-space: pre-line;` should solve this.

[2020-07-06 19:46] lgolding opened #291 "Don't display both short and full rule description"
It’s not necessary for the details pane to display both the rule’s short description (currently labeled “Rule Desc Short”) and its full description (currently labeled “Rule Desc Full”). The short description is the thing you display when there’s not enough space to show the full description.

Instead, just provide a label “Rule Description”. If only the short description is present, display that.

[2020-07-08 17:23] GabeDeBacker opened #293 "File URIs should be displayed "nicely" (decoded) to the user in the viewer.."
While working with on of our interns, it was clear to me that our display of file URIs in the UI is a bit confusing to the user (and when copied, cannot be opened - at least in Windows).

The issue is that the file URIs are escaped (for example the colon in c:/  is escaped to c%3a/ etc.

The suggest is to display file URIs, well, not as URIs but there correct (non-escaped) format.

for example:
In

[2020-07-08 17:27] GabeDeBacker opened #294 "Tool-tips for the URI of a location in the viewer are not complete URIs"
In the viewer, the "result info" tab shows a location that is just a file-name (say "dirs" as the file name).

The tooltip is just showing file://dirs instead of the complete path.

The tooltip should be the complete path.

[2020-07-08 20:41] Christellah opened #295 "Line numbers are off by one in the viewer"
I noticed that the line numbers displayed in the viewer are off by one.
For example if in the SARIF file it says the error is on line 4, the viewer will show it as line 3 in the errors list.

[2020-07-08 22:24] #289 closed

[2020-07-08 22:24] #290 closed

[2020-07-08 22:24] #291 closed

[2020-07-09 12:24] JelteF commented on #258
I just noticed this too. When suppressing results in Semmle like this: https://help.semmle.com/wiki/display/SD/Suppressing+alerts

Then they are still visible in the Result List in this Visual Studio Code extension, even though suppressions contains a non-empty array:
![image](https://user-images.githubusercontent.com/1162278/87039604-b10d3a00-c1ef-11ea-98da-8cfa19f8457f.png)

A very clear improve

[2020-07-09 15:18] michaelcfanning commented on #258
This is an important feature. We have the same problem in the VS add-in. Our thought there is that there should be a filter to allow rendering of suppressed items (and an explicit column or other indicator of whether an item is suppressed). By default, this column or filter s/be disabled.

This is the way that the VS C# error list handles things. @lgolding @jeffersonking

[2020-07-09 15:46] lgolding commented on #258
By the logic described in the [original issue description](https://github.com/microsoft/sarif-vscode-extension/issues/258#issue-605119318), Step 4, this result should be suppressed. Isn't this just a bug? Or is the feature described in Steps 4 through 6 just NYI?

[2020-07-09 15:51] michaelcfanning commented on #258
First, let me apologize for not reading the spec you provided in this issue, which looks good. I honestly don't understand your question, since we would expect this suppressed item (in @JelteF's example) not to be visible by default. We'd also expect a clear mechanism to opt-in to viewing this suppressed item (which should, obviously, be clearly marked as suppressed in some way, via icon, value in

[2020-07-09 17:47] lgolding commented on #258
To rephrase my question. "I thought we had implemented the spec above. If we have, and that issue is (unexpectedly) displayed, is that just a bug in the implementation? Or have we in fact not fully implemented the spec yet?"

It sounds like you're saying it's the latter -- the spec isn't yet fully implemented.

[2020-07-09 17:53] JelteF commented on #258
I'm not entirely sure if I'm understanding this discussion correctly. But let me try to rephrase my situation, to make it extra clear:

In my situation the value of the "suppressions" field has no impact at all on if an item is displayed in the Results List or not. It seems to be simply ignored completely.

I originally thought this was a bug, but then found this issue and it looked like it was tr

[2020-07-09 18:04] lgolding commented on #258
Yes, absolutely I understand. This issue does indeed track the feature you are requesting (the issue you pasted should be hidden by default, but there should be a UI to reveal it). We just need to finish the work for this feature.

[2020-07-09 18:21] #295 closed

[2020-07-10 17:35] GabeDeBacker opened #298 "Display strings for settings are missing"
![image](https://user-images.githubusercontent.com/6741868/87182428-fb96c100-c298-11ea-9661-08cc79a0d6eb.png)

Looks like some strings were deleted from pakcage.nls.json
Or the settings just weren't removed if they no longer apply

[2020-07-10 19:19] Christellah commented on #293
We noticed this issue in two places: in the Logs tab of the viewer and in the tooltip of the info tab when an error is selected, as shown on the screenshot below.

![image](https://user-images.githubusercontent.com/25352470/87190531-a373b500-c2c0-11ea-8cbd-fbd0f9e6cf8c.png)

[2020-07-10 19:38] jeffersonking commented on #293
I think this (in technical terms) means: If the URI scheme is "file", then render `fsPath`. Otherwise maintain current behavior: render the full string (`toString`) of the URI.

[2020-07-10 22:08] mukul-ms commented on #294
Hey @GabeDeBacker

I think the reason its just showing `file://dirs` is because that's actually the complete path provided in the sarif file.

E.g. This is the snippet from the sarif file that issue came from
- ![image](https://user-images.githubusercontent.com/43248455/87206496-db3a2700-c2d7-11ea-8880-9a939ae53260.png)

I tried it on another test file and it does show the complete path as given i

[2020-07-13 13:27] GabeDeBacker commented on #294
Interesting.. I was trying to read through the SARIF spec, and I couldn't determine what the "rules" are for the URIs as far as locating artifacts. From the snippets you presented in the issue, it isn't clear to me if there is anything in the SARIF log that would point to the "complete" correct path.

So, it appears to me there is both a bug in the tool that generated this SARIF log and an issue t

[2020-07-13 13:53] michaelcfanning commented on #294
So what we appear to have here are relative paths from some unknown root. Tool providers can help by adding a uriBaseId with the relative path the helps establish which relative URIs are associated with a common base. It looks like that isn't happening here. If the tool is emitting relative paths in the log file that are relative to different base URLs, that's a problem the tool needs to resolve.

[2020-07-13 15:13] jeffersonking commented on #298
Fixed.

[2020-07-13 15:13] #298 closed

[2020-07-13 16:35] lgolding opened #300 "Line numbers are off by one"
Here is a SARIF file with a single result on line 16:

[off-by-one.sarif.txt](https://github.com/microsoft/sarif-vscode-extension/files/4913792/off-by-one.sarif.txt)

But the VS Code extension shows it on line 15:

<img width="686" alt="off-by-one" src="https://user-images.githubusercontent.com/11762653/87329555-fc736100-c4eb-11ea-847a-623c06d6d788.png">

This is version 3.2020.629001-insiders:

<

[2020-07-13 16:57] jeffersonking commented on #294
From a viewer standpoint, this is "by design".  We can only show as much as the log tells us (I looked at the full original log).

WRT "viewer should query the user": current design defers that until (if) the file contents are opened. The alternative (as it previously was) was considered distracting and blocking.

[2020-07-13 16:59] jeffersonking commented on #300
Duplicate of #295.

[2020-07-13 16:59] #300 closed

[2020-07-13 19:42] lgolding commented on #294
There is a lot to say here :-)

First: `artifactLocation.uri` is allowed to be either a relative reference (for example, `some_dir/some_file.c`) or an absolute URI (for example, `file:///C:/dev/my-project/some_dir/some_file.c`).

If `artifactLocation.uri` is an absolute URI, you are done. The viewer can do whatever it wants (for example, display the full URI, or display just the file name part and

[2020-07-13 20:37] mukul-ms commented on #293
- Current status: Was able to reproduce, working on the fix. Issue found at 2 locations in the UI

-  ![image](https://user-images.githubusercontent.com/43248455/87351125-f77fd300-c526-11ea-82e6-1e74455d7726.png)

- ![image](https://user-images.githubusercontent.com/43248455/87351198-154d3800-c527-11ea-87ad-7d6df60d47d7.png)

[2020-07-13 21:46] jeffersonking commented on #294
Note: The viewer does account for (1) and (2) as mentioned by @lgolding. However, that information was not present in the SARIF log (not shared for privacy reasons). We don't prompt immediately per the design considerations in my previous comment.

Regarding the pre-pending of `file:///` to relative paths:
* @GabeDeBacker is this the spirit of this bug? It seemed you were expecting more path segme

[2020-07-13 21:51] lgolding commented on #294
But you are _not_ "[using] other information or heuristics to locate the artifact". You are just displaying a string. Suppose the viewer were to say to itself, "Hmmm... I wonder if I could find this file by prepending the `file:` scheme. Let's find out..." ... and then suppose that turned out to _work_. Then sure, the viewer would be entitled to conclude that `file:///whatever-you-had-before` real

[2020-07-13 22:06] jeffersonking commented on #294
@lgolding: That's fair. :-) The first two bullet points are the more practical concerns though.

[2020-07-13 22:28] GabeDeBacker commented on #294
@lgolding  - All I'm saying is the SARIF spec to say something like "all artifact locations MUST resolve to a fully qualified URI using the information present in the SARIF log.

Without this statement, tools can output files that cannot be remapped from a "remote path" (say from a CI build system path) to a "local path" present on a developers machine. Which makes "path remapping" by the SARIF vi

[2020-07-13 22:45] lgolding commented on #294
@GabeDeBacker I agree that there's something wrong if the file contains results from two distinct files, both named `dirs`, that live in different directories, and the file provides nothing but the file names. The file should at least provide distinct relative paths:

[code]

Feel free to file a suggestion in the SARIF TC's GitHub repo: https://github.com/oasis-tcs/sarif-spec. (I think anyone can

[2020-07-15 17:50] #293 closed

[2020-07-24 09:26] JarLob opened #306 "Improve view columns"
Tested with 3.2020.715004

Correct me if I'm wrong, but there are two options to review sarif results:
1. Locations tab with Line and Message columns grouped by FilePath.
2. Rules tab with Line, FileName and Message grouped by Rule.

The second option lacks FileLocation - you see web.config for example, but do not know what project/path it comes from.

I don't know if this is VS Code limitation, b

[2020-07-24 09:35] JarLob opened #307 "File location dialog"
Tested with 3.2020.715004

When locating sources a FileOpen dialogs pops up, but there is no indication of the path I need to resolve.
In Visual Studio extension the location is in the title of the dialog, like `Locate missing file: /folder/folder2/file.ext`. This way it is convenient to navigate to the root of the sources and then use the information from the title to find the file.

Not sure if

[2020-07-25 08:00] garethr opened #308 "Fix broken images in the README"
## Expected

The README would have nice images of the extension in action, making it more compelling for users.

## Actual

The images are all broken. They link to assets in `resources` which was deleted in https://github.com/microsoft/sarif-vscode-extension/commit/22a23c162098801d34a3acc960e3babda341afc0.

[2020-07-27 17:23] jeffersonking commented on #308
@garethr Thanks for reporting that. The fix is in PR.

Note we've updated the UI in the upcoming release. Screenshots for the new changes are forthcoming. The screenshots in this #309 are for the preexisting UI.

[2020-07-27 17:44] jeffersonking commented on #307
Thanks for the feedback.

A bit of a survey: Do you have a folder open in VS Code? And if so, are the SARIF file and "missing" file both in that same folder? Generally asking: what is the typical file structure relationship between your SARIF file and "missing" file? We are trying to understand the common cases better. Thanks!

[2020-07-27 19:14] #308 closed

[2020-07-27 19:33] jeffersonking commented on #306
@JarLob Due to frequently long paths, the file name would be clipped, so we render just the file name (+ path in the tooltip). I can experiment with other shortening strategies too make more of the path visible.

[2020-07-28 08:07] JarLob commented on #306
Maybe columns headers can be resizable? I don't know what are VS Code extensibility limitations. I just successfully tried to dock the sarif results window to the bottom. In this case it is a whole monitor width for columns. Maybe this could be the default or configurable?

[2020-07-28 08:13] jeffersonking commented on #306
The column headers are actually resizable. Ideally we would have a left-truncating ellipsis for these paths. I have similar code in another project and may just need to copy it over.

[2020-07-28 08:20] JarLob commented on #307
Initially no, but then I tried both options. In both cases it doesn't find the find automatically until I locate it manually. Then when I click on other items it finds the corresponding file.

The sarif file is not in the same folder.

[2020-07-28 08:24] JarLob commented on #306
I see, they are resizable :) Maybe it is because of the black theme... Was looking and looking for it.

[2020-07-28 08:33] jeffersonking commented on #307
We have new logic that, in certain cases, is able to automatically associate SARIF uris with workspace uris. Would you be able to share the project structure and the set of uri's within the SARIF file to help reproduce the issue?

Note: The matching heuristic looks for distinct file names between the SARIF log and workspace. Thus it may not work if there are many files with the same name. However,

[2020-07-29 11:34] JarLob commented on #307
The file contains sensitive information. I can share it after some time when all issues are fixed.

[2020-07-30 09:29] sasobadovinac opened #310 "version 2 results scroll fix"
Results grouping and filtering are working fine in v2 while they still seem to be quite broken in v3, in v2 however the scrolling of the results list is not working, while it works in v3... Can you please release v2.16 with just the scrolling issue fixed so that there would be at least one usable version until the v3 is ready?

[2020-07-30 09:50] jeffersonking commented on #310
@sasobadovinac Could you describe in more detail what issues you are seeing with grouping and filtering? Is there a particular grouping you are missing?

[2020-07-30 10:10] sasobadovinac commented on #310
@jeffersonking Well the actual real problem that I have with v3 is that from 950 results in the report I see only 300 (the Warnings), changing the filter options for Errors and others seem to have no effect

[2020-07-30 10:32] sasobadovinac commented on #310
@jeffersonking Ok, I have to correct myself, after taking a closer look at all the results it seems that all 950 are there but they are all classified and shown as Warnings, while I know that in the original report there are under Errors, Warnings and Recommendations

[2020-07-30 10:44] jeffersonking commented on #310
@sasobadovinac When looking at the contents of the SARIF log, is the `level` property specified directly on the `Result` object? Or is `level` being indirectly set from somewhere else (such as `reportingConfiguration`)?

There are no known issues with the former `level` directly on the `Result` (I see Errors and Warnings differentiated fine on my machine). However the latter indirect `level` we cu

[2020-07-30 11:15] sasobadovinac commented on #310
@jeffersonking Yes it is set at the top of the log in the configuration... It is a log from the CodeQL CLI tool, in v2 it seems to open up correctly...

Here are a few examples of the three different rules configurations (Error, Warning and Recommendation)

And an example of a result

[2020-07-30 11:20] jeffersonking commented on #310
@sasobadovinac Thanks for gathering that example. I will add support for `defaultConfiguration` at least for `level` in the next day or so. And I think we can get a new preview build shortly after that.

If you have any other issues/bugs I can try to address them in this same PR.

[2020-07-30 12:08] sasobadovinac commented on #310
@jeffersonking That would be great, Thanks! I will report if I find something else, but now that I understand what is the actual issue here, things already look somewhat more normal and useful :)

[2020-07-30 22:01] #310 closed

[2020-07-31 18:17] jeffersonking commented on #310
@sasobadovinac `defaultConfiguration.level` should now be respected in [v3.2020.731001-insiders](https://github.com/microsoft/sarif-vscode-extension/releases/tag/v3.2020.731001-insiders).

[2020-08-01 08:26] sasobadovinac commented on #310
@jeffersonking I can confirm it works as expected. Thank you and have a great weekend! :)

[2020-08-01 08:28] jeffersonking commented on #310
@sasobadovinac Glad to hear. Same to you!

[2020-08-04 18:24] HenokAddis opened #316 "Rename "CodeFlow" functionality to a less confusing term"
CodeFlow means git branch integrations in Windows, which may confuse people who see this feature.

Some ideas:
- Control Flow
- Analysis Steps
- Thread Flow

[2020-08-04 18:27] HenokAddis opened #317 "Show me defects for only what I'm working on by default; but let me switch via settings/configurations"
Today, we will show defects in both the SARIF Viewer and Problems Pane for all analyzed files. This could be a bit overwhelming depending on the total number of defects in the built directory + the ruleset selected.

It would be more actionable/inviting to onboard users onto this new workflow if the analysis results were **focused** on the opened files. Just to clarify, this would **not be on just

[2020-08-10 19:57] GabeDeBacker opened #321 "SARIF Viewer fails to open (through API) when the SARIF schema needs to be updated."
The SARIF viewer is attempting to use NPX to launch the SARIF multi-tool with the "transform" argument, and that fails in a machine with just VSCode and the SARIF viewer installed as NPX cannot be found.

Error: spawnSync npx ENOENT  at Object.spawnSync (internal/child_process.js:1041:20)  at spawnSync (child_process.js:620:24)  at Object.execFileSync (child_process.js:647:15)  at Object.func [as

[2020-08-10 20:48] HenokAddis commented on #321
### Repro Versions
- OS = OS.2020
- WAVE = v3.0.200724006
- SARIF Viewer = v3.2020.715004-insiders

### Full Issue GIF
![sa_issue_build2](https://user-images.githubusercontent.com/46505299/89829743-ef0fbd80-db0f-11ea-8766-e118ce4f2da8.gif)

### More Details
When I run this with the newest WAVE and SARIF Viewer Insiders, I still see failures to upgrade.
![image](https://user-images.githubuserconten

[2020-08-10 22:02] #321 closed

[2020-08-10 22:27] HenokAddis opened #323 "When the file casing differs between SARIF file/log and the filesystem, issues do not populate the Problems Pane"
When launching the SARIF Viewer automatically after a Code Analysis build, you can see that multiple SARIF files have been generated with issues.

![image](https://user-images.githubusercontent.com/46505299/89837427-cc84a100-db1d-11ea-85d4-e8097264879f.png)

However after closer observation, the SARIF files which are not identical to their file-system file casing do not populate in the problems pa

[2020-08-11 15:49] GabeDeBacker commented on #323
This was originally addressed with this pull-request #208.

URI's are case sensitive and VSCode treats them this way regardless of the scheme.

Now, the analyzers running against the source for Windows lower-cases all URIs written into the SARIF file, and the viewer does not modify the casing of any URIs it sees and also treats them as URIs (i.e. case-sensitive).

As a result, the URIs do not comp

[2020-08-11 16:44] HenokAddis commented on #323
`This will cause a performance penalty on the Windows platform as it will cause a file-system enumeration for every URI that is encountered.`

@jeffersonking - Could we measure what this performance hit would look like? This seems like a ship blocker to broader audiences

[2020-08-11 16:50] jeffersonking commented on #323
I have a tactical fix I'm testing. It should unblock the majority of your cases while giving us some breathing room to think about the longer-term strategy.

[2020-08-11 17:43] HenokAddis opened #324 "SARIF Viewer needs a validation ring so early customers can give feedback + a stable version"
Today, we have Insiders and Production versions of the SARIF Viewers in both Visual Studio and VSCode. Unfortunately, given that we have much of our new infrastructure/features in the Insiders ring, everyone in Windows will also be living on that ring. Since every PR that is merged with master will get pushed to Insiders, everyone is on Canary.

With customers new to the experience and previous po

[2020-08-11 20:40] HenokAddis commented on #323
TLDR -

1. VSCode does not accept only lowercased URIs so simply lowercasing everything will not work
so file:///c:/myFile.cpp is different than file:///c:/myfile.cpp
2. We make subsequent calls to Build.exe and NMake and we need to investigate both where this fix needs to go, and who needs to own it.
3. Here is proof that the build system does this lowercasing
3001>'s:\repos\os\src\tools\amd64\nm

[2020-08-11 22:22] Christellah commented on #277
I still encounter this problem when using the SARIF API from the WAVE VS Code extension, if I open a SARIF log with the API:

![image](https://user-images.githubusercontent.com/25352470/89954558-52c4e400-dbff-11ea-886b-93103b01c817.png)

Then close this SARIF file and re-open it using the SARIF API:

![image](https://user-images.githubusercontent.com/25352470/89954607-696b3b00-dbff-11ea-867e-673ca

[2020-08-11 23:27] HenokAddis commented on #323
I believe Jeff's solution will not be pursued either

[2020-08-12 05:24] jeffersonking commented on #277
@Christellah Thanks for reporting! Fix is in PR.

[2020-08-12 13:24] #277 closed

[2020-08-13 19:18] HenokAddis commented on #324
This should not be too complicated to achieve, maybe we can settle on this tomorrow.
-	The other proposal from  @jeffersonking  was to leverage our current ring structure (Insiders and Production) and push to PROD more frequently now. We can move internal people to PROD who we want to be more stable, but SOMEONE needs to be in a ring to tell us if things are broken. We cannot test all scenarios pe

[2020-08-14 08:59] tim-rj opened #330 "[question] how to do path mapping in VSCode about"
Hi Sarif team,

I have output the .sarif file, but when click the display result, can't go to the source file, how to do path mapping about this:

[code]

![企业微信截图_15973972264791](https://user-images.githubusercontent.com/51427706/90235156-69fc0f80-de53-11ea-8aa3-8f338cc508d9.png)

![企业微信截图_15973987932087](https://user-images.githubusercontent.com/51427706/90237591-18558400-de57-11ea-93b8-492578ab

[2020-08-14 17:15] #316 closed

[2020-08-14 17:37] jeffersonking commented on #330
@tim-rj Would you be willing to upgrade to a [pre-release version](https://github.com/microsoft/sarif-vscode-extension/releases/tag/3.0.0-9) and see if you are still having this issue? Thanks!

[2020-08-17 01:19] tim-rj commented on #330
@jeffersonking I have tried and installed it, recreate database and output .sarif file, but when i click 'Open SARIF file' button to open the .sarif file, it noticed that "Failed to upgrate  'xxx.sarif'" and nothing disappear:
![企业微信截图_15976271434255](https://user-images.githubusercontent.com/51427706/90349005-b3727780-e06a-11ea-9eec-23faf6f6be8c.png)

[2020-08-17 15:41] HenokAddis opened #333 "SARIF view is brought up after defects have completed populating/generated rather than slowly populating"
The view slowly populates with updates. If there are a large number of log files, it's unclear that the UI is doing work to get the user set up and when that work is done. There is no signal for progress (spinning icon, text asking them to wait, etc). I'd hope that if feedback comes back around this we can invest into a more clear "hey I'm loading stuff for you hold on a minute" UI but we can cut

[2020-08-17 16:50] Miaku commented on #323
@jeffersonking has a temporary fix up for this issue. @HenokAddis and @Miaku to test this temporary fix.

[2020-08-18 09:26] sasobadovinac opened #335 "Set suppression"
Would it be possible to add the functionality to set (also unset) the suppression? The existing grouping and filtering is already very useful, but when working over a long list of issues it would be great to also have the ability to just hide (suppress) those that have been reviewed... Best would be if it would be possible to set the suppression on the individual results (issues), but also on the

[2020-08-18 21:43] jeffersonking commented on #333
@HenokAddis Agreed the UI should communicate more and currently we are not:

A few questions that would help me:
* When you mention "large number of log files", roughly what is the number of files and total MB?
* Are these files being upgraded (is the "upgrading..." message showing)?
* The latest build has the 4X perf increase, could you share how long the load time is taking in your scenario now?

[2020-08-19 04:59] jeffersonking commented on #330
@tim-rj: Thanks giving the pre-release a try. Also thanks for those screenshots. I will have a fix for you in about a day. I'll let you know it's ready.

[2020-08-19 06:10] jeffersonking commented on #335
Initially I thought you were referring to [`suppressions`](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317661) as mentioned in the SARIF spec.

However reading this issue again, I'm interpreting our suggestion as not directly related to SARIF `suppressions`. You are just referring to the general idea of being able to hide the ones you've already looked at. Is that

[2020-08-19 06:33] jeffersonking commented on #317
The most canonical implementation would be to put this feature in the filter dropdown. A new category called "Location" with a single checkbox called "Only Open Documents". @HenokAddis sounds reasonable?

[2020-08-19 12:41] sasobadovinac commented on #335
I was referring to the suppression as is supported by the SARIF spec yes, it could also be be done in a different way yes, but as you said it would probably be less confusing if it would be done with the existing SARIF suppression, so that there would not be a duplication of the concept, and not being able to use it over different sessions would make it much less useful.

I understand the current

[2020-08-19 16:07] #330 closed

[2020-08-19 18:13] #335 closed

[2020-08-19 22:47] jeffersonking commented on #323
Verified the common case with @Miaku and @HenokAddis.

[2020-08-19 22:47] #323 closed

[2020-08-20 20:28] HenokAddis commented on #317
We discussed this yesterday and the understanding I left with is that this is not required prior to releasing to customers. We should see what their feedback is as we scale up and implement this based on their responses.

This is not cut, just tabled until broader adoption and feedback to reach the best experienced/design.

[2020-08-24 16:54] HenokAddis opened #340 "SARIF to add a feedback mechanism so developers can report false positives"
To improve the quality of our defect checks, we need a thorough feedback collection mechanism that provides precise and continuous insight of when and where our defect checks fail to provide a quality signal, regardless of the loop that
Goals
1.	Customers can easily provide feedback on static analysis defects they receive.
a.	The feedback experience is unified across the Local, PR, and Outer Loops

[2020-08-24 17:17] HenokAddis opened #341 "Implement "fixes" (code actions) for SARIF files assuming the file has an autofix suggestion"
https://docs.oasis-open.org/sarif/sarif/v2.1.0/csprd01/sarif-v2.1.0-csprd01.html#_Toc10541319

Turns out the Sarif spec already has a “[fix](https://docs.oasis-open.org/sarif/sarif/v2.1.0/csprd01/sarif-v2.1.0-csprd01.html#_Toc10541319)” concept but I have no idea if our implementation of /analyze is ever going to provide those objects. If so, then they will naturally fall into both the VSCode and

[2020-08-24 17:21] HenokAddis opened #342 "Implement a Telemetry Interface for Internal MSFT Windows OS Users for more robust telemetry/logging"
When you investigate the developer experience around Static Analysis in WAVE, you’ll realize that WAVE is really a coordinator that kicks off a series of workflows that get consumed and engaged with in a separate extension – the Static Analysis Results Interchange Format (aka SARIF, full documentation) Viewer extension in Visual Studio and VSCode. Specifically, the only events we fire in WAVE toda

[2020-08-24 17:22] HenokAddis commented on #342
Below I’ve enumerated a proposal for a telemetry schema that we can use to begin firing information from the SARIF Viewer. Keeping custom event information inside of a DataJson makes it:
-	Easy to consume, parse, engage with
-	Easy to extend - standard model with custom columns allow easy integration across any Event/Exception

![image](https://user-images.githubusercontent.com/46505299/91076015-b

[2020-08-26 23:31] Robo210 opened #343 "VS Code (Insiders): Error: Incorrect locale information provided"
[-1598480140096.log](https://github.com/microsoft/sarif-vscode-extension/files/5133151/-1598480140096.log)

The Console in the Developer Tools window shows these two error messages (in the attached log) appearing every few minutes.

[2020-08-31 17:42] Miaku opened #344 "Picking rulesets: Need ability to filter to windows-curated rulesets"
We need to be able to filter out all of the visual studio-defined rulesets, so we don't confuse our customers.

[2020-08-31 17:58] jeffersonking commented on #344
@Maiku: I am unclear on the meaning of "visual studio-defined rulesets". Could you elaborate?

[2020-09-01 00:14] Miaku opened #345 "Make Static Analysis Rule IDs Link out to Remediation Documentation in SARIF Viewer"
We need the rule ID to be clickable and link out the the https://aka.ms/cpp/warnings/CXXXX. SourcesCop issues do this today.

[2020-09-01 00:15] Miaku commented on #345
![ClickableLink](https://user-images.githubusercontent.com/5658930/91780853-9d59d080-ebad-11ea-84a5-b58dd16b9856.JPG)
Example of a clickable link in SourcesCop

[2020-09-01 00:18] jeffersonking commented on #345
If the rule contains a [helpUri property](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317848) then we will honor that as a link.

[2020-09-01 00:21] Miaku opened #346 "Fill in friendly rule name and description in SARIF viewer"
The highlighted fields should be populated with good information:
![image](https://user-images.githubusercontent.com/5658930/91781191-85cf1780-ebae-11ea-9e73-2576355eea5e.png)

[2020-09-01 00:25] jeffersonking commented on #346
If that is blank, then it indicates that rules does not have a [name](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317843) nor [shortDescription](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317845) property (or a [fullDescription](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317846) property)

[2020-09-02 21:48] HenokAddis commented on #341
The state-of-the-world today is that there is no engine/back-end from the editor in VSCode unlike Visual Studio provides. Due to this issue, and that we don't want to maintain this state, we should discuss between the following options
- In theory, you can go from issues at the bottom of the file to the top of the file without ruining the understanding of the fix location (row/column).
- In theory

[2020-09-02 22:11] HenokAddis commented on #346
[Bug 28913801](https://microsoft.visualstudio.com/OS/_workitems/edit/28913801): All rules in ruleset.json need clear descriptions on both OSGWiki and visible in the IDE; Need clear way to visualize TVS and MinBar rulesets (if possible)

[2020-09-02 22:11] #346 closed

[2020-09-02 22:11] HenokAddis commented on #345
[Bug 28913801](https://microsoft.visualstudio.com/OS/_workitems/edit/28913801): All rules in ruleset.json need clear descriptions on both OSGWiki and visible in the IDE; Need clear way to visualize TVS and MinBar rulesets (if possible)

[2020-09-02 22:11] #345 closed

[2020-09-02 23:36] jeffersonking commented on #343
@Robo210: My recommendation would be to move to a newer insiders build. One of the files mentioned in the log `stringUtilities.js` has long since been removed. Thus that should fix the issue.

[2020-09-03 20:07] Robo210 commented on #343
My current extension version is
Name: Sarif Viewer
Id: ms-sarifvscode.sarif-viewer
Description: The Sarif Viewer extension visualizes the results in a Sarif file
**Version: 3.2020.430009-insiders**
Publisher: Microsoft DevLabs
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=MS-SarifVSCode.sarif-viewer

[2020-09-03 20:09] jeffersonking commented on #343
Recommend installing this one: https://github.com/microsoft/sarif-vscode-extension/releases/tag/v3.2020.91001-insiders

[2020-09-04 22:12] sivadeilra opened #350 ""Logs" view cannot be scrolled, so views with many log files are unusable"
The "Logs" view does not provide any scroll bars and does not respond to scroll wheel, etc. So if you load a lot of log files, you can't see entries that are far down the last. Nor can you remove them, unless you remove entries higher in the list so that the lower one becomes visible.

[2020-09-04 22:28] jeffersonking commented on #350
Which version/build are you on?

________________________________
From: sivadeilra <notifications@github.com>
Sent: Friday, September 4, 2020 3:12:29 PM
To: microsoft/sarif-vscode-extension <sarif-vscode-extension@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [microsoft/sarif-vscode-extension] "Logs" view cannot be scrolled, so views with many log files are unusable (

[2020-09-04 22:30] sivadeilra commented on #350
v3.0.0-16

[2020-09-04 22:31] jeffersonking commented on #350
Thanks. We will have a fix soon.

________________________________
From: sivadeilra <notifications@github.com>
Sent: Friday, September 4, 2020 3:30:58 PM
To: microsoft/sarif-vscode-extension <sarif-vscode-extension@noreply.github.com>
Cc: Jeff King <jeffking@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [microsoft/sarif-vscode-extension] "Logs" view cannot be scrolled, so views w

[2020-09-06 01:59] #350 closed

[2020-09-06 02:09] jeffersonking commented on #350
[3.0.0-17](https://github.com/microsoft/sarif-vscode-extension/releases/tag/3.0.0-17) should fix it for you.

[2020-09-08 20:31] sivadeilra opened #351 "Need easy way to close all log files"
When working with large numbers of SARIF logs, it's tedious to click "x" on every single log file to remove it from the view. It would be good to have a single "Close All Logs" button.

I have a PR ready which implements this; creating the issue to track it.

[2020-09-08 21:47] Robo210 commented on #343
This build fixed this issue, and lots of other issues! Thanks!

[2020-09-08 21:47] #343 closed

[2020-09-09 16:38] ArlenTokatlian commented on #351
Triage: Arlie/Jeff: there are a few potential locations for a button like this. PR enroute.

[2020-09-17 22:56] lgolding opened #357 "Display non-failure results appropriately."
When a result has `kind` equal to `"review"`, the extension displays it as "informational". But in fact, a `"review"` result should be displayed as "warning", because it means that it's an issue that requires human review to determine if there's actually a problem.

The guidance for viewers is:

- Errors: results that break/block processes.
- Warnings: items actively tracked that should always dis

[2020-09-21 16:55] ArlenTokatlian commented on #357
Roy mentioned we may have upcoming asks for level and kind so there may be a vested interest here.
@lgolding to take the lead here as an initial effort. Mentioned he may know where the logic can be modified.
Note that there is a sibling work item tracked in the VS space... https://github.com/microsoft/sarif-visualstudio-extension/issues/199

[2020-09-23 06:42] #351 closed

[2020-09-23 20:54] #357 closed

[2020-10-17 13:53] GabeDeBacker opened #362 "Provide a way to provide automatic path resolution"
I was looking at how WAVE is using the UriBase API and realized that we probably need to re-think how it is being used.

First, let me describe about the user scenario.
•	User has a local clone of an repository located at “s:\gitStuff\repos\someClone”
•	User receives a notification about static analysis result from an external machine with “location” objects rooted to “d:\repos\someOtherClone”
o	L

[2020-10-18 15:31] FredHappyface opened #363 "Cannot load sarif files with schema from docs.oasis-open.org"
https://docs.oasis-open.org/sarif/sarif/v2.1.0/cos02/schemas/sarif-schema-2.1.0.json

snippet

[code]

changing this to https://raw.githubusercontent.com/oasis-tcs/sarif-spec/master/Schemata/sarif-schema-2.1.0.json works

Thanks for your time

[2020-10-21 10:44] jeffersonking commented on #362
Adding my feedback on top of @GabeDeBacker and @lgolding's notes regarding this API. Preferring `URI` over `string` as this constrains the input to valid URIs.

[code]

**Issue:**  Per the SARIF spec, `uriBaseId`'s are scoped per `Run`, yet the proposed API scopes per `Log`. This opens us to naming collisions. Blocker?

Terminology:
* **uriBase** - Something appended to a relative URI to make it a

[2020-10-21 14:41] lgolding commented on #362
I like the new term `uriBaseHint`! It's not only descriptive and accurate, it also fits nicely with the rest of the SARIF terminology.

I agree that it's perfectly possible to have different `uriBaseId` sets for different runs in the same log. So perhaps `LogInfo` should be
[code]

I don't think `LogInfo` is an informative name. ("Information about a SARIF log? Isn't that what the `SarifLog` objec

[2020-10-21 15:55] GabeDeBacker commented on #362
@lgolding  & @jeffersonking

+1 for "LogOpenOptions" or "LogOpenParameters", but... typically the name matches the method you are calling.

[code]

And for .Net we need to add "Async" (not sure why that isn't a pattern in TypeScript).

[code]

An additional question is should the APIs actually return something? Currently none of the APIs return any type of status as to whether there were any issue

[2020-10-21 16:02] jeffersonking commented on #362
Regarding "should the APIs actually return something". I considered that might be asked. My recommendation: we add a return value when there is a concrete and immediate use case.

[2020-10-21 16:11] lgolding commented on #362
+1 to Gabe's renaming (except in your final examples you said `OpenLogOption` but should be `OpenLogOptions`).

+1 to Jeff's YAGNI comment.

+1 on Gabe's request for `Async` in the name _unless_ there is an _explicit_ JS or TypeScript convention that says otherwise. Jeff, do you know?

[2020-10-21 16:18] jeffersonking commented on #362
Re TypeScript: `Promise<T>` is the way to express "async" without getting into the weeds. It is not 1-to-1 conceptually with C#.

[2020-10-21 16:32] jeffersonking commented on #362
Naming-wise I'm going to suggest aligning `runInfo` with `LocationResolutionInfo` for one less concept count. Tentatively calling it `RunInfo` here. Alternatively `UriInfo` or `UriBaseInfo` which avoids/defers the question of `Location` vs `Uri`.

I think having this `RunInfo` organization make sense. Sadly we lose the simplicity of the previous inaccurate design.

Acknowledging that `LogInfo` is

[2020-10-21 16:35] jeffersonking commented on #362
Regarding "Do you always have to create an array?", it was `cancellationToken` that threw a wrench in that.

I am okay with not adding single `openLog()` to VS Code until we have a concrete and immediate use.

[2020-10-21 16:49] lgolding commented on #362
I still don't think `RunInfo` is best. The information is more narrowly focused that the run as a whole. It's about how to resolve locations -- fine, URIs -- so I prefer `UriResolutionInfo` for the thing that contains `UriBaseIds` and `UriBaseHints`.

[2020-10-21 17:03] michaelcfanning commented on #363
Thanks for the report! This is an important problem, we'll get it fixed asap.

[2020-10-21 17:45] jeffersonking commented on #363
@lgolding expressed interest in taking this one.

[2020-10-21 18:50] lgolding commented on #363
PR is out: https://github.com/microsoft/sarif-vscode-extension/pull/364

[2020-10-21 20:01] #363 closed

[2020-10-21 21:18] lgolding commented on #363
Version 3.0.2 of the viewer, containing this fix, is available on the [Marketplace](https://marketplace.visualstudio.com/items?itemName=MS-SarifVSCode.sarif-viewer).

NOTE: If you click **Download extension** on the page, you will get the latest, 3.0.2:

![image](https://user-images.githubusercontent.com/11762653/96788321-2ae4c000-13a8-11eb-8b81-660c377c59ff.png)

At the moment, the "badge" is out

[2020-10-22 09:22] jeffersonking commented on #362
My reservation with applying the "___Options" idiom is:
* From my experience, typically arguments named "Options" are optional. In our case, `OpenLogOption` isn't meaningfully optional as omitting makes `OpenLogs()` meaningless.
* Take a canonical example like Node.js `fs.readFile(path[, options])`. Applying this pattern, it would become `fs.readFile(options)` where the path is in the options. I w

[2020-10-22 15:43] lgolding commented on #362
I defer to you on the question of whether the class should have "Options" in its name.

It was a mistake for me to pair a parameter name `runInfos:` with an object of type `{Location|Uri}ResolutionInfo`. I should have changed the parameter name as well: `readonly uriResolutionInfo: ReadonlyArray<UriResolutionInfo>`.

[code]

On the day that `OpenLogInfo` needs more stuff, we can add another member

[2020-10-23 04:15] mpande98 opened #365 "Developers should get confirmation that code analysis has run but no defects were found"
Feedback from Kasperi Summanen:

He could not tell if code analysis ran or not. He was not seeing any results - his suggestion is to get a clear statement that code analysis ran but no defects were found.

[2020-10-23 04:21] jeffersonking commented on #365
Did the SARIF Results Pane open, yet it was in the empty state (just an open log button)? Did the tab for the pane show a count? If that's the case, we have seen a similar bug (but couldn't repro again).

@GabeDeBacker If there are truly zero defects, how is that communicated to the user?

[2020-10-23 04:23] mpande98 commented on #365
@jeffersonking The user was not sure the SARIF viewer was even downloaded. So we can infer that the pane did not open. However, I will follow-up for more specific detail by tomorrow afternoon (in time for Triage).

[2020-10-23 22:08] mpande98 commented on #365
Customer Follow Up: SARIF only opened if there was issues. There were no clear messages in the build log.

[2:58 PM] Kasperi Summanen
    It SARIF opened only if there was issues.
​[3:03 PM] Malavika Pande
    Got it, so SARIF didn't open at all
​[3:03 PM] Malavika Pande
    if there were no issues that is
​[3:04 PM] Kasperi Summanen
    Yep nor anything clear msg in the build log

[2020-10-23 22:16] jeffersonking commented on #365
@mpande98 This is likely better handled by the WAVE extension as they have explicit knowledge of the code analysis run. The SARIF extension, in this context, does not see the forest from the trees. It sees a list of logs, but does not know they came from the same "WAVE run".

[2020-10-26 16:42] mpande98 commented on #365
A better experience: SARIF Viewer opens anyway, and there's a message that says "No defects were found" (or something along these lines). This should also exist in Visual Studio.

[2020-10-28 16:42] mpande98 commented on #365
Pop out window is possible. We can have a persistent message at the top.

[2020-11-02 17:51] mpande98 commented on #365
11/2 Notes
- We have log files that represent all these conditions
- Most of the Visual Studio items are unblocked
- In VS Code, the status bar can be cluttered
- For colored status bar, have an alternative (i.e text to accompany it)

[2020-11-24 19:00] fwingerter-Ocient opened #367 "Results pane never opens on extremely large directories"
I'm attempting to use the SARIF viewer extension with a project that vendors a large number of dependencies. These dependencies and their build artifacts are in the workspace's `files.ignore` globs, so they do not slow down normal VS Code operation.

However, unless I delete these files (on the order of 300,000) or move them outside of my project directory, when opening a `.sarif` file, the SARIF

[2020-11-25 00:32] jeffersonking commented on #367
I don't see a `files.ignore`. Did you mean `files.exclude`?

I just tested and `files.exclude` is being respected. My experience seems to be confirmed here: https://github.com/microsoft/vscode/issues/48674#issuecomment-384477494.

I will continue to look for other explanations for why these excluded files are causing a performance issue and try to reproduce it locally.

[2020-11-30 17:17] fwingerter-Ocient commented on #367
I did mean `files.exclude`. I also looked further into this, and it seems that I was mistaken--`files.exclude` is respected, but our repo also includes a large number of files not excluded. Nonetheless, it would be helpful to have a diagnostic for this situation as the behavior we experience is not trivial to debug--the extension just (visibly) does nothing.

[2020-12-02 22:42] fwingerter-Ocient commented on #367
Another symptom: when the results panel won't open due to too many files in the directory, saving files also hangs; the saving notification spins indefinitely until cancelled. However, hitting save again immediately after cancelling the notification does work. This spin-cancel-retry behavior on save occurs for all files in the window. Disabling SARIF Viewer makes saving work normally again.

[2020-12-02 22:44] jeffersonking commented on #367
That's very interesting. Thanks for sharing that.

[2021-01-25 22:52] dominikh commented on #197
I disagree. GFM differentiates between soft and hard line breaks.

and

I would argue that a soft line break that's being rendered in a context that isn't HTML should not result in a visible line break.

Note that GitHub deviates from GFM in comments on issues, which do turn soft line breaks into hard line breaks, but this won't happen in, say, a README.md.

Considering that the multi-line strings

[2021-02-10 19:43] scalvert opened #369 "Output Diagnostic.codeDescription.href when rules[id].helpUri is present in SARIF log"
The SARIF spec allows for rule metadata to be output in the log. Within that metadata is a `helpUri` property, which provides an href to be used to help provide additional information about the rule. From the spec:

To provide a richer output when annotating diagnostics in vscode, it would be great to be able to provide the Diagnostic additional information, if present, that would allow for annota

[2021-02-22 23:26] eddynaka opened #370 "Extension is not grouping per rule correctly"
Hi,

attached we have a sarif file that contains two rules. Each rule contains two locations.

When I open the sarif I would like to see in the Rules tab two results instead of one.

[kusto-split-modifed.zip](https://github.com/microsoft/sarif-vscode-extension/files/6025873/kusto-split-modifed.zip)

[2021-02-24 20:39] 2can- opened #371 "Does the plugin support "results" in externalPropertyFileReferences ?"
Does the plugin support having results in an external file ? If I try to do this it reports "no results" using sarif files such as:
`{
  "$schema": "https://docs.oasis-open.org/sarif/sarif/v2.1.0/cos02/schemas/sarif-schema-2.1.0.json",
  "version": "2.1.0",
  "runs": [
    {
      "tool": {
        "driver": {
          "name": "ABC",
          "version": "1.0"
        }
      },

      "externalP

[2021-02-26 15:08] viennadd opened #373 "Line numbers are off by one (version 3.0.2 still)"
Seems it is an opposite situation with related issue #300

with use of [off-by-one.sarif.txt](https://github.com/microsoft/sarif-vscode-extension/files/4913792/off-by-one.sarif.txt) in #300 , the SARIF result located at line 16, but it shows at line 17.
![image](https://user-images.githubusercontent.com/3396288/109317264-80b20300-7887-11eb-8bc0-8e6be3140d9e.png)

[2021-02-26 15:22] viennadd commented on #373
I think we don't need to convert from 0-based to 1-based at here, because SARIF line numbers are 1-based already.
https://github.com/microsoft/sarif-vscode-extension/blob/bd13e8021549fb1674795a9bd473803318dfe673/src/shared/index.ts#L118-L120

[2021-02-26 15:23] viennadd commented on #373
seems we don't have to convert from 0-based to 1-based at here, because SARIF line numbers are 1-based already.
https://github.com/microsoft/sarif-vscode-extension/blob/bd13e8021549fb1674795a9bd473803318dfe673/src/shared/index.ts#L118-L120

[2021-03-03 21:46] scalvert commented on #369
ping, anyone around to discuss this?

[2021-03-10 17:03] michaelcfanning commented on #369
Hello! Sorry for the delay in reply. This would be a great contribution to the viewer, would love to see it happen.

@jeffersonking

[2021-03-10 18:39] jeffersonking commented on #369
Hi @scalvert! Also sorry for the delay in reply. Happy to take a PR or implement this for you. Either way.

Looking briefly, I did not see a `codeDescription` property on [Diagnostic](https://code.visualstudio.com/api/references/vscode-api#Diagnostic). Will take a closer look at how ESLint does this. What am I missing here? Thanks!

[2021-03-10 18:49] scalvert commented on #369
I'm happy either way WRT who implements. It may be faster for you since you're aware of the codebase, but there's no better time than the present for diving in and learning :)

Essentially we'd need a reference to the full SARIF log when constructing the diagnostic messages, as we'd need access to the `rules` in order to reference the rule metadata.

[2021-03-10 18:53] scalvert commented on #369
eslint has a `makeDiagnostic` function they use, [which contains the `codeDescription`](https://github.com/microsoft/vscode-eslint/blob/fc9f7de405231ec0b77297acb94a33028535eba9/server/src/eslintServer.ts#L390) if a `ruleId` is present.

[2021-03-10 21:40] jeffersonking commented on #369
@scalvert Thanks for that info. We currently do not implement a Language Server. Looks like implementing (transitioning to) that will be the bulk of the work. I'll talk with @michaelcfanning try to come up with an estimate.

If you have any other feature asks that require a Language Server, please let us know.

Re: "we'd need access to the `rules`": That should be no problem as we already access t

[2021-03-10 22:51] scalvert commented on #369
Perfect. Sounds good. Ya I figured that you weren't leveraging a language server yet. Happy to help out where I can. Let me know!

[2021-03-31 14:12] MichaelSquires commented on #373
I've been seeing this issue as well.

[2021-03-31 19:04] MichaelSquires opened #375 "Large number of results (> ~1000) get squished at bottom of sarif panel"
There seems to be a bug in the sarif panel when there are a large number of results in the window. I haven't been able to narrow down the exact number.  When I expand a rule with 948 results, it works but when expanding another rule with 1141 results it doesn't work. (Since we know how developers love powers of two, I'm guessing the exact number is somewhere around 1024 but I don't have any proof

[2021-04-01 16:21] MichaelSquires opened #376 "Sarif panel changes unexpectedly when multiple results on a single source line"
When I click on a result in the sarif panel, it takes me to the relevant source file and line number. If there are multiple results in the same source file and line number, the sarif panel will sometimes jump to another result. It makes it difficult/impossible to view the details of the result I'm interested in viewing.

[2021-05-04 17:08] lszomoru opened #378 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-07 11:48] lszomoru opened #381 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-06-16 12:50] eddynaka opened #386 "SARIF won't open if has UTF16-LE encoding"
Hi,

attached you have a UTF16 LE SARIF file that can't be imported using the current extension.

[sample_logs_small.zip](https://github.com/microsoft/sarif-vscode-extension/files/6663132/sample_logs_small.zip)

[2021-06-20 04:18] wtfacoconut opened #388 "Add support for modifying suppression, suppression status, and comments on issues"
This is an enhancement request.

I understand that the VS Code extension is only a "viewer". But is there possibility to add to the roadmap the ability to modify an issue's suppression and suppression status.

Also, would it be possible to allow for apply comments/remarks on issues? Both as an auditor or developer, it would be very useful to leave some additional information. As an example, I coul

[2021-06-28 13:06] Lohnegrim opened #389 "System.IO.FileNotFoundException when starting VS2017 after installing this Exctension"
Hi,
After I installed this Extension, I this Error when I start VS2017:

System.TypeInitializationException: The type initializer for "Microsoft.Sarif.Viewer.CodeAnalysisResultManager" threw an exception. ---
System.IO.FileNotFoundException: Could not load file or assembly "Newtonsoft.Json, Version=12.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed" or one of its dependencies. The system c

[2021-07-01 00:55] dev-gaur opened #390 "unable to work with urlBaseId"
[code]

While clicking on `file.json` hyperlink on the SARIF viewer panel, I get an `unable to find file.json` dialog box. What exactly am I doing wrong here? I could not find an sample file or test case demonstrating usage of relative paths or uriBaseId.

OS: Darwin

[2021-07-01 01:14] jeffersonking commented on #390
This might help: https://github.com/microsoft/sarif-tutorials/blob/main/samples/OriginalUriBaseIds.sarif

[2021-07-01 20:05] dev-gaur commented on #390
Thanks @jeffersonking

[2021-07-19 18:48] michaelcfanning commented on #375
@eddynaka  @jeffersonking

Can we get some attention on this one?

[2021-07-19 18:48] michaelcfanning commented on #376
@eddynaka  @jeffersonking

Can we get some attention on this one?

[2021-07-19 19:02] jeffersonking commented on #375
IIRC the root cause is in Chromium [Issue 688640](https://bugs.chromium.org/p/chromium/issues/detail?id=688640).

[2021-07-19 19:15] jeffersonking commented on #375
My recommendation: Investing in virtualization on the table UI. It has the side benefit of expanding our result count perf ceiling.

[2021-07-19 19:21] jeffersonking commented on #376
@MichaelSquires Do you have a repro handy for this? If not I will need to reconstruct the scenario. Thanks.

[2021-07-19 19:29] MichaelSquires commented on #376
Not at the moment. I'll put one together and get it uploaded here.

[2021-07-26 21:46] MichaelSquires commented on #376
@jeffersonking: I was able to get a repro for this issue.

1. Download the two files in [this gist](https://gist.github.com/MichaelSquires/8a342976534e960e4a6ed263913247ee).
2. Save them to d:\temp (if you save them somewhere else, be sure to update foo.sarif:261).
3. Open VS Code in the new directory: `code d:\temp`.
4. Click on Rules in the SARIF panel.
5. Expand C26481.
6. Click on one of the r

[2021-08-18 18:08] sherryyshi opened #394 "SARIF results don't show up when VS Code is open as administrator"
Repro steps:
* Open new VS Code window as administrator
* Open a .sarif file

Expected:
* Sarif results show up

Actual:
* Sarif results tab shows up but is empty.

[2021-08-18 18:17] michaelcfanning commented on #394
@jeffersonking, do you have time to look at this? seems important.

[2021-08-20 07:47] jeffersonking commented on #394
@sherryyshi I am unable to reproduce the issue. I followed the steps and the results showed up. If you have a demo of the repro, I'd be happy to see it.

[2021-08-20 16:32] sherryyshi commented on #394
Sent over email :)

[2021-08-30 12:54] Str4t0n opened #395 "The locations in a multi location result should be separated"
<details>
<summary>Example sarif log file</summary>

[code]

</details>

<details>
<summary>Result shown in VSCode:</summary>

![image](https://user-images.githubusercontent.com/28656380/131340553-386e3462-9317-46b9-a3a7-f05ef5004fb6.png)

</details>

Expected output:\
Location separated by comma, semicolon, newline or something similar.
And on this note, if the `description`  of the `artifactLoca

[2021-09-02 09:19] huornlmj opened #396 "Sarif report has artifact issues in it, but right panel only shows a "OpenSARIF log" button (intermittently)"
A generated SARIF report has artifact issues in it, but when the sarif file is selected, the right panel only shows a "OpenSARIF log" button (intermittently) where the issues should be shown.  Using version v3.0.2 in VSC v1.59.1.

[2021-09-02 09:27] huornlmj opened #397 "Issue line numbers in panel off by one"
Clicking on the issues shown to be on specific lines numbers (e.g. issue shown as being on line 230), highlights the code but one line earlier (line 229)

![image](https://user-images.githubusercontent.com/28444739/131819925-fa3a916e-adeb-4c31-bcb0-ea227c90d34a.png)

[2021-09-30 02:43] lin-ll opened #400 "Result Properties in the Panel"
At one point, the sarif viewer showed result properties in the panel. However, it looks as though this functionality was commented out when the new UI was introduced in this [PR](https://github.com/microsoft/sarif-vscode-extension/pull/282). Not sure if that was intentional?

[2021-10-18 22:21] sherryyshi opened #402 "SARIF Viewer causes VS Code to crash with "The window has crashed (reason: 'oom', code: '-536870904')""
Several users are reporting that launching the SARIF viewer results in:

![image](https://user-images.githubusercontent.com/36748852/137814478-3eeda785-b9ab-4357-bb0d-0dc26b568498.png)

Disabling the SARIF viewer resolves the issue.

[2021-10-28 13:59] GeekMasher opened #403 "Automatic SARIF Downloader from GitHub"
It would be amazing if when I use GitHub Advanced Security on my Open Source or a private repository project if I can pull/download the SARIF file and then send it to the rendered automatically. This would allow me as a developer to pull results generated by CodeQL and other SAST tools when my Actions workflows run and I can easily view those results.

### Suggested Features / Requirements

- Auth

[2021-11-01 18:41] jeffersonking opened #405 "SARIF Log intermittently fails to load"
As quoted from @niroshan via @eddynaka:

And also:

VSCode runs on Mac (11.6) and I connect remotely to a Linux machine (Ubuntu 20.04).
File size is not big 1-2MB.
The source is always the result from CodeQL CLI, no other source. One caveat: The result from CodeQL CLI is filtered using jq to remove some test code and third party components I’m not interested in. [1]
Viewing the SARIF file itself i

[2021-11-01 18:45] jeffersonking commented on #405
The first thing I would like to check is the debug console of VS Code. On Mac, this is `cmd+alt+i` to open it up. @niroshan, would you be able to provide me with the contents of that console during the time of the failure? Thanks!

[2021-11-01 18:49] jeffersonking opened #406 "Unstable selection when multiple Results share the same line of code"
As quoted from @niroshan via @eddynaka:

[2021-11-01 19:13] jeffersonking commented on #406
Due to the way VS Code processes are split (UI vs extension), there is known possibility of a 2-way sync issues with state (in this case the Result selection). However, while designing this area, these types of issues were not frequent (at least not for us). Also at the time of design, we were also unsure of the frequency in the real world of overlapping results.

I recreated a very basic SARIF lo

[2021-11-01 19:20] jeffersonking commented on #406
To respond to the issue of "selection... change while making an edit", @niroshan, can you help us reproduce that situation? Thanks!

[2021-11-02 08:20] kuriboshi commented on #405
When it fails to load I don't see anything in the console.

[2021-11-02 08:32] kuriboshi commented on #406
Yes, this describes the behavior pretty well.  I've attached a short screen recording to illustrate the problem.  It's especially noticeable in the "Rules" tab in the SARIF viewer.  Let's say I want to fix problems of a specific type and I go through them one by one.  This is very difficult if there are other errors on the same line since the selection in the SARIF Viewer is lost.

https://user-im

[2021-11-02 08:44] kuriboshi commented on #406
For the "jumping selection" problem I think it's related and it happens when I click somewhere in the line with the intention of editing that line. Here is another screen recording to illustrate what happens. I click after the parenthesis meaning to insert a newline there. The selection changes and the newline I typed deletes the entire line. In order to make edits I have to be very careful and wa

[2021-11-08 19:16] michaelcfanning commented on #403
@ShiningMassXAcc @jeffersonking

Let's talk about this scenario.

[2021-11-08 23:22] karsharm commented on #402
What was the issue here? Was there a fix determined?

[2021-11-09 08:28] jeffersonking commented on #402
@karsharm The linked PR #409 should be the best explanation.

[2021-11-09 08:46] #400 closed

[2021-11-09 09:19] #406 closed

[2021-11-10 23:49] #402 closed

[2021-11-11 01:50] #397 closed

[2021-11-12 08:10] jeffersonking commented on #405
@kuriboshi Assuming you are person quoted at the top, what is the frequency of failure if you are *not* connected remotely to a Linux machine? Are you able to reproduce the issue completely locally?

[2021-11-15 04:37] kuriboshi commented on #405
@jeffersonking Yes, that's me.  When loading locally, either on Linux or macOS, I can't repeat the problem so it does seem to be related to working with a remote project.  It would explain why it seems to happen more frequently if your remote connection is for some reason slower.  I'm using a remote connection for convenience even though the "remote" host is sitting under my desk.

[2021-11-16 10:10] klacol opened #411 "This extension does not load the logs from the dotnet upgrade-assistant"
Hi, I am in the process of upgrading a project to .NET 6.0. I use the [dotnet upgrade-assistant](https://github.com/dotnet/upgrade-assistant) .

This assistant produces logs in the sarif-format. But they cannot be opened with this VSC-extension.

Is there a plan to support this version 2.1.0?

[2021-11-18 08:13] jeffersonking commented on #405
Thanks for the tip. I was unable to repro with a "remote" host on my LAN. However, I was able to repro from a coffee shop (connecting back to home). Go figure. The fix is linked and in review.

[2021-11-18 08:19] kuriboshi commented on #405
Brilliant. Looking forward to the fix!

[2021-11-19 03:47] jeffersonking commented on #411
@klacol We support schemas ending in `2.1.0-rtm.5`. These represent the current (most common) release. Confusingly, the suffix-less `2.1.0` was considered pre-release due to a versioning mishap.

It seems dotnet upgrade-assistant is emitting the wrong schema. I believe this was addressed with a recent [PR](https://github.com/dotnet/upgrade-assistant/pull/927).

[2021-11-19 03:47] #411 closed

[2021-11-19 05:53] klacol commented on #411
@jeffersonking  Thanks for your fedback.

I have changed the version string in the sarif file, that is generated by the `dotnet upgrade-assistant` from `2.1.0` to `2.1.0-rtm.5`:

![image](https://user-images.githubusercontent.com/10479772/142571690-7d7c79db-ec26-4863-b2c7-01bb932a42ac.png)

Unfortunately, the `sarif-vscode-extension` does not load this file.

![image](https://user-images.githubuse

[2021-11-19 05:58] jeffersonking commented on #411
@klacol I realize it's not intuitive, but the version should stay as `2.1.0`. Altogether:

[code]

[2021-11-19 08:09] klacol commented on #411
Thanks, that does not work, That was my starting point.

[2021-11-19 08:16] jeffersonking commented on #411
Trying to see what I'm missing here.

In your screenshot:
[code]

In my snippet:
[code]
Does the latter $schema + version not work for you?

[2021-11-23 10:20] eddynaka commented on #373
Hello,

sorry for the delay.
We fixed this in version 3.1.0.

The PR:
https://github.com/microsoft/sarif-vscode-extension/pull/399

[2021-11-23 10:20] #373 closed

[2021-11-23 18:04] #405 closed

[2021-11-23 22:55] jeffersonking commented on #396
#412 (v3.1.1) is likely to have fixed this. Optimistically closing. If it is still an issue please reopen and we'll take a closer look. Thanks!

[2021-11-23 22:55] #396 closed

[2021-11-23 22:58] jeffersonking commented on #394
It is possible that #412 (v3.1.1) fixed this. Optimistically closing. @sherryyshi if you still see this issue can you reopen? Thanks!

[2021-11-23 22:58] #394 closed

[2021-11-23 22:59] jeffersonking commented on #390
Looks like this wasn't a product issue. Closing.

[2021-11-23 22:59] #390 closed

[2021-11-23 23:03] jeffersonking commented on #376
@MichaelSquires Thanks for your patience. #408 is likely to have addressed this issue. Optimistically closing. If not, we'd be happy to take closer look.

[2021-11-23 23:03] #376 closed

[2021-11-23 23:07] jeffersonking commented on #367
@fwingerter-Ocient Thanks for your patience. #409 is likely to have addressed this issue. Optimistically closing. If not, we'd be happy to take another look.

[2021-11-23 23:07] #367 closed

[2021-11-23 23:14] jeffersonking commented on #307
@JarLob Still having the same issues in the most recent version? If so, let's take a look at your folder structure. Thanks!

[2021-11-23 23:18] jeffersonking commented on #280
We should be clean of that hard-coded URI scheme since 3.0.0 (Sep 2020). Thanks for the heads up.

[2021-11-23 23:18] #280 closed

[2021-11-23 23:25] jeffersonking commented on #271
I believe this is in the context of loading. Since #348 we no longer upgrade logs and haven't needed that progress window. Thus closing.

[2021-11-23 23:25] #271 closed

[2021-11-24 17:59] jeffersonking commented on #240
Since #348 we no longer have/need progress window. Thus closing.

[2021-11-24 17:59] #240 closed

[2021-11-24 18:02] jeffersonking commented on #221
This is no longer an issue since v3. In particular we enable `retainContextWhenHidden` on the panel, and also the performance is generally better.

[2021-11-24 18:02] #221 closed

[2021-11-25 19:58] jeffersonking commented on #77
Complete as of 5ec98ffff16b706e3837ff90026f52466ba04182 (Sept 2020) except for auto-publish to the Marketplace. Prefer to keep it manual at the moment. Also, having issues with DevOps not allowing me to obtain certain PAT scopes.

[2021-11-25 19:58] #77 closed

[2021-11-29 23:37] jeffersonking commented on #263
Revisiting this issue in the context of v3. The insertion point cursor no longer appears on line 1. However, it does not appear on line 4 either. It appears on line 5, which I believe is a more correct answer. The file ends with a newline, so at the EOF we should be on line 5, right?

We are strongly aligned with how VS Code interprets these region metrics. Deviation from VS Code would require an

[2021-11-29 23:37] #263 closed

[2021-11-29 23:45] jeffersonking commented on #262
This is addressed by v3. Specifically here: https://github.com/microsoft/sarif-vscode-extension/blob/3eb1e4fd6cf6237812100f170086e14affe289a5/src/extension/panel.ts#L155

[2021-11-29 23:45] #262 closed

[2021-11-30 00:44] jeffersonking commented on #220
I loaded a 10,000 result 25MB file using the latest version (v3.x). It opened within 1-2 seconds. Navigation was fine except if if a group has over 5000 results. This is also keeping in mind #375 which is being tracked separately. Altogether, this seems to be within the current design requirements.

If we need more perf, we can implement virtualized rendering.

[2021-11-30 00:44] #220 closed

[2021-11-30 00:57] jeffersonking commented on #203
@samyun  Thanks for your (2 year) patience. Version 3 (2020 Sep) now uses a standard file dialog for remapping files. Either way there will not be a secondary prompt. So essentially the answer is: no need to worry about it. Feel free to reopen if you are still running into issues. Thanks!

[2021-11-30 00:57] #203 closed

[2021-12-03 18:13] jeffersonking commented on #403
@NickLiffen Do you have a repo with some results ready to go?

[2021-12-03 18:26] NickLiffen commented on #403
@jeffersonking 👋 I have added the data and everything in the slack channel where @michaelcfanning is. We need a way to add you in there. What is your Microsoft email? 📧

[2021-12-03 18:34] jeffersonking commented on #403
@NickLiffen 👋 DMed you my Microsoft email.

[2021-12-20 17:54] hohn commented on #137
I just ran into this issue as well.  Until this is implemented, adding a warning about incomplete display would be good.

[2022-01-13 19:44] jeffersonking commented on #403
I have created a new branch where we are exploring this proposal: https://github.com/microsoft/sarif-vscode-extension/tree/ghas.

[2022-01-19 17:02] ahamid opened #415 "String `path` monkey patch breaks form-data library"
Is it necessary to monkey patch `String` like this:

https://github.com/microsoft/sarif-vscode-extension/blob/bd13e8021549fb1674795a9bd473803318dfe673/src/shared/extension.ts#L75

[code]

I found, for example, that introducing a `path` property/accessor can break the `form-data` library in a really subtle and non-obvious way:

https://github.com/form-data/form-data/blob/53adbd81e9bde27007b28083068

[2022-02-03 16:42] IdeaSeeker opened #417 "Link to relative location in `message.markdown`"
I have one related location:
[code]
And I want to link to it in the `results[0].message.markdown`:
[code]
but it doesn't work. However, it works if I write
[code]

Is it a bug?

[2022-02-08 17:34] FlashSheridan opened #418 "Can’t copy defect description text in SARIF Results window"

[2022-02-09 02:58] jeffersonking opened #419 "Prevent Details pane from resizing to 100%"
Prevent the user from (unintentionally and completely) hiding the results list. Also, adding a zero state message to the details pane would help too.

[2022-02-23 18:37] fredericgboutin-yapla opened #422 "This extension does not load the logs from qodana"
Context: https://www.jetbrains.com/help/qodana/qodana-sarif-output.html

So yeah, I'm not using PhpStorm since I prefer VSCode but their Php linter is interesting. Long story short, I'm using quodana to generatea a SARIF file which I currently cannot open with this extension without modifying the `$schema` property.

I have to change the initial value from `https://raw.githubusercontent.com/schema

[2022-03-08 05:35] theemanofsteele opened #427 "CodeQL CLI Sarif Mismatch"
I've discovered that the Sarif file that the CodeQL CLI produces is a schema URL that causes the sarif-vscode-extension to think the file is invalid. The schema URl (valid) that the CodeQL CLI produces looks like this:
`"$schema" : "https://json.schemastore.org/sarif-2.1.0.json"`
Which would produce the following error:
`'\results.sarif' was not loaded. Version '2.1.0' and schema 'https://json.sch

[2022-03-08 05:44] theemanofsteele commented on #427
Looks like all the Oasis URLs broke. Mentioned here: https://github.com/oasis-tcs/sarif-spec/issues/509
but 👇 might be the fix for the current broken Oasis URL
http://docs.oasis-open.org/sarif/sarif/v2.1.0/os/schemas/sarif-schema-2.1.0.json

[2022-03-13 11:17] vovikhangcdv commented on #427
Same issue.

[2022-03-19 19:05] theemanofsteele commented on #427
Looks like both of the urls on lines 61 and 62 were broken since first submitting this issue. The proposed change addresses that.

[2022-03-19 20:20] sthagen commented on #427
https://raw.githubusercontent.com/oasis-tcs/sarif-spec/master/Documents/CommitteeSpecifications/2.1.0/sarif-schema-2.1.0.json Should work - some repository reorg did take place, right? But, it is always good to use the spec ref at https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/schemas/sarif-schema-2.1.0.json.
I hope no production tool fetches such an external schema for validation though.

[2022-03-22 01:04] theemanofsteele commented on #427
Are you recommending that the first URL you mentioned, be used in the check in this extension?
This: https://raw.githubusercontent.com/oasis-tcs/sarif-spec/master/Documents/CommitteeSpecifications/2.1.0/sarif-schema-2.1.0.json
Instead of this: https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/schemas/sarif-schema-2.1.0
??

[2022-03-22 03:33] sthagen commented on #427
@theemanofsteele that depends on what the nature of the check is. If it is just a string identity condition, then I would expect the official schema claim _pointing_ to the OASIS site. Else, if downloading of the thing behind that URL is intended, a practical availability and performance consideration might suggest the github internal URL.

[2022-04-12 02:06] aeisenberg opened #431 "TypeError: e is not a function when used with the "Alternate File" extension"
Hello, I am getting this error in my console when I try to initialize the [`will-wow.vscode-alternate-file`](https://github.com/alternate-file/vscode-alternate-file). I find it surprising that there is an interaction between the two extensions.

[code]

To reproduce:

1. install sarif-vscode-extension and vscode-alternate-file extensions
2. Run the command "Initialize Projections File"
3. ERROR!
4

[2022-04-15 11:11] markhermeling commented on #403
I'd love to contribute too here to be able to download SARIF from another remote location. Right now the SARIF viewer (at least on MacOS) only allows loading of local SARIF files. I'd like to get one through http

[2022-04-15 15:04] michaelcfanning commented on #403
@markhermeling, tell us more about your scenario. The direction we're currently exploring is that of a repository which is configured for some out-of-band scanning, like GHAS. The IDEs (we're working on a VS and VS Code integration) will consult some config (likely checked in as code) that will poll the remote store periodically and ingest results, injecting them into the IDE workflow just a compi

[2022-04-15 16:00] markhermeling commented on #403
Thanks @michaelcfanning and good to run into you again.

My scenarios are based on a repository with analysis results. My first target would clearly be a CodeSonar hub, but it should be fairly easy for other vendors to set up something similar.
<disclaimer: I am employed by GrammaTech>

Hence the scenario I am envisioning is disconnected from the code to be honest and based from the SAST repositor

[2022-04-15 16:09] michaelcfanning commented on #403
Mark, yes, very nice to talk with you again! Your reply is very helpful context.

In re: #1 @jeffersonking is our Mac developer and may be able to comment. Jeff, the feature desired here is the ability to open a SAIRF file across HTTP. There is another scenario that would unblocked by solving this, the ability to retrieve files across HTTP on demand as users explore results.

In re: #3, this is ex

[2022-04-19 16:13] Hamid-K opened #432 "Missing filter results based on code path or negative search"
Currently there is no way to narrow down results based on their source path (folder) or have the filter used as a negative (excluding) keyword. It would be a useful feature to have for larger code bases where we want to exclude certain components from results.

[2022-04-28 09:50] vovikhangcdv commented on #427
Hi, any update here. I saw the [merge request](https://github.com/microsoft/sarif-vscode-extension/pull/429) was blocked.

[2022-04-29 14:39] jeffersonking commented on #427
**Short answer:** We want to preserve compatibility for logs with the "old" `$schema` value even if the URL does not resolve. Thus any code change should be additive.

**Long answer:** Despite appearing like we intend to validate the schema, the `$schema` is never fetched and no validation is performed. During the evolution of SARIF v2, there were many schemas published. This extension is (with a

[2022-04-29 15:18] aeisenberg commented on #427
Thanks for your response. Even if there is no easy solution, would you consider one of the following workarounds?

If an incompatible schema is detected:

1. Emit a warning message explaining which schema versions _are_ supported and where to find them.
2. Continue as normal, but emit a large, friendly message stating that the schema used by this SARIF file may not be supported and use this extens

[2022-04-29 16:00] jeffersonking commented on #427
@aeisenberg I plan to seek clarity on the `$schema` requirement can be relaxed altogether (as mentioned above). If that is a dead end, happy to consider the workarounds you suggest. Thanks!

[2022-05-03 07:38] vovikhangcdv commented on #422
Seem like the same issue is here https://github.com/microsoft/sarif-vscode-extension/issues/427

[2022-05-04 21:20] jeffersonking commented on #427
Update: I reviewed the telemetry and feel it's safe to relax and simplify the `$schema` check. While making the code change, I noticed `tryFastUpgradeLog` and `detectUpgrade` have evolved and can actually be unified. Making these changes now.

[2022-05-26 14:22] uandrei opened #437 "Unable to open Trivy generated sarif file"
Trying to open a Trivy generated SARIF file and got an error that version 2.1.0 and schema https://json.schemastore.org/sarif-2.1.0-rtm.5.json are not supported. Updated the schema URL to https://schemastore.azurewebsites.net/schemas/json/sarif-2.1.0-rtm.5.json and all i get is a panel saying 26 Sarif results in the header but no content.

Extension host logs shows no errors or anything related to

[2022-05-26 22:21] jeffersonking commented on #437
Hi @uandrei. How consistently are you getting the "26 Sarif results in the header but no content" as you close and re-open the file? 100% of the time?

[2022-05-27 10:25] uandrei commented on #437
@jeffersonking yes this is 100% reproducible as it never worked for me on VS Code.

This is the command i use on my WSL2 ubuntu to run to generate a sarif file:
`trivy image -f sarif mcr.microsoft.com/dotnet/runtime:6.0-jammy`

Here's an archive of the sarif file generated.
[repo.zip](https://github.com/microsoft/sarif-vscode-extension/files/8785924/repo.zip)

This image shows the error being thro

[2022-06-14 03:03] vovikhangcdv opened #439 "[Feature] Recursive source code mapping"
## Description
I have an issue working with multiple sarif files in many subfolders. When clicking on the result mapping the first time, I have to locate the sample path. It repeats every time I open another sarif file in different folders.

Maybe it is difficult to find the real path where the source should be mapping (when it is not in the root path), but at least we can try to map the source co

[2022-06-15 13:55] keremc opened #441 "The step decorations jump between code flows in some cases"
This seems to happen when the currently selected thread-flow object and another unrelated result with a code flow point to the same line in a file. The decoration messages unexpectedly switch to the other result when you click the thread-flow location, as you can see in the attached video.

The culprit here appears to be [the code actions provider](https://github.com/microsoft/sarif-vscode-extensi

[2022-06-15 14:14] keremc opened #442 "Code-flow decorations are displayed in the wrong file"
When inspecting a result with a code flow, SARIF Viewer displays decorations for all the thread flows, even if they are supposed to be in a different file. You can download [this sample here](https://github.com/microsoft/sarif-vscode-extension/files/8910058/sample.tar.gz) and check it out yourself. When you select `Branch condition evaluates to a garbage value` in the result list, it renders a dec

[2022-06-15 14:22] keremc opened #443 "Some documents will not have decorations when inspecting multi-file code flows"
This appears to be a side effect of #442. I think [this line](https://github.com/microsoft/sarif-vscode-extension/blob/7b7bfc4d9d423b52ac217d0f6319228691ae2b73/src/extension/index.ts#L170) throws when a thread-flow location has a range that cannot be valid in the active document. As a result, you will not see any decorations in such a document.

[2022-06-26 15:10] markhermeling opened #446 "Odd behaviour when opening a SARIF with a single warning"
SARIF file attached, this is for Telegram.Bot (https://github.com/TelegramBots/Telegram.Bot) on checkout ad9dfc27e5df9b37a6f4a465e2eb15d5a42a185b

If you open it, the Panel shows that there is one warning and one rule, but does not show the warning. However, the warning is highlighted on the correct spot in the source code.

If you then monkey around a bit, the panel will eventually update and hav

[2022-06-26 15:19] markhermeling commented on #446
Could be because there is a 404 loading the schema

[2022-06-26 15:23] markhermeling commented on #446
Or, more likely:
'/Users/markhermeling/Downloads/140-allwarnings.sarif' was not loaded. Version '2.1.0' and schema 'https://raw.githubusercontent.com/oasis-tcs/sarif-spec/master/Documents/CommitteeSpecifications/2.1.0/sarif-schema-2.1.0.json' is not supported.

[2022-06-27 15:52] yanzv opened #447 "Outdated / Candidate OASIS schema URL is being detected"
Based on [Fix #363](https://github.com/microsoft/sarif-vscode-extension/pull/364/files) schema url that is part of the conditional statement is either outdated (https://raw.githubusercontent.com/oasis-tcs/sarif-spec/master/Schemata/sarif-schema-2.1.0) or a [Candidate Standard 02](https://docs.oasis-open.org/sarif/sarif/v2.1.0/cos02/sarif-v2.1.0-cos02.html) (https://docs.oasis-open.org/sarif/sarif/

[2022-06-28 00:01] jeffersonking opened #448 "Review for consistent usage of `skipEncoding`"
There are a few places we use `skipEncoding=true` when calling `Uri.toString`. I suspect these are no longer needed. Need to assemble some common examples (including the `sarif:` use case) and test to verify.

[2022-07-07 20:12] jeffersonking commented on #441
Thanks for taking the time to descriptively capture this issue.

The root issue is when multiple Results overlap the same range of text we do not support selecting a specific Result within that set. Likewise, if you have already selected a Result, and then move the selection/caret, and there are multiple overlapping Results in that range, the selection may jump into a different Result.

Furthermor

[2022-07-21 18:37] jeffersonking commented on #419
Fixed by #445.

[2022-07-21 18:37] #419 closed

[2022-08-09 22:26] microsoft-github-policy-service[bot] opened #452 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-09 22:46] #452 closed

[2022-09-17 01:31] digitarald opened #459 "Adopt VS Code's Marketplace pre-release flow"

[2022-09-19 08:05] jeffersonking commented on #459
@digitarald Thanks for the heads up. It looks like extension pre-releases has been available since Nov 2021. Will look at migrating our pre-release actions to take advantage of this. The lack of support for semver pre-release tags is inconvenient; hope that comes soon.

You mentioned you "didn't do anything SARIF related", implying you did not opt-in for pre-release (aka insiders) builds, yet stil

[2022-09-19 22:58] digitarald commented on #459
@jeffersonking

No worries, I did opt-in. Notifications telling users that they updated doesn't match https://code.visualstudio.com/api/ux-guidelines/notifications .

[2022-09-19 23:10] jeffersonking commented on #459
@digitarald We appreciate the feedback. Thanks.

[2022-09-19 23:40] ShiningMassXAcc opened #460 "SARIF viewer panel correctly parses and views sarif results but ext output panel, problems list, and code hovers in the file do not"
See screenshot.

I have a sarif result im prototyping with.  It has the result and the markdown specified - all of this is viewable in the sarif panel.

What is missing:
- This doesn't show up in problems list
- Sarif viewer extension output does not believe it has parsed a result
- The on-hover + squiggles in the file do not show.  Note that you can click the artifact location from sarif panel to

[2022-09-20 00:13] ShiningMassXAcc opened #461 "SARIF viewer panel does not render "![icon](data:image/svg+xml;base64" type markdown"
See side by side of DevCanvas extension handing markdown to Visual Studio code to render (which it does), alongside the sarif viewer panel which does not render the icon.

This is an icon data img based item and is included in VS Codes rendering (per this example) and also supported by github markdown (afaict).  I'm wondering if your custom panel uses VSCode rendering, or you pull in rendering fro

[2022-09-20 00:32] marmegh commented on #460
@ShiningMassXAcc, can you confirm whether you're using the Preview version of the VS Code extension? @jeffersonking, can you take a look at this? Let me know if I need to connect the two of you via email.

[2022-09-20 00:35] marmegh commented on #461
@jeffersonking, could you take a look at why the DevCanvas image may not be rendered?

[2022-09-20 05:40] jeffersonking commented on #461
Hi @ShiningMassXAcc, Our Content Security Policy is conservative by default and was blocking it. I will edit it to allow img-src=data:. Thanks for reporting!

[2022-09-20 17:12] ShiningMassXAcc commented on #460
Yes I'm in preview version of VS Code extension.

[2022-09-20 17:58] jeffersonking commented on #461
Fix is part of #458.

[2022-09-20 18:19] marmegh commented on #460
@jeffersonking, please investigate this as well.

[2022-09-20 18:20] jeffersonking commented on #460
In the process of preparing a custom build to diagnose the issue.

[2022-09-20 21:49] jeffersonking commented on #460
@ShiningMassXAcc Can you verify your SARIF VS Code Extension has auto-updated to 3.3.0-9, try the repro again, and capture the output window for the SARIF Viewer (like how you already did above).

If the extension has not been updated to 3.3.0-9, you can try restarting VS Code or manually install it from [Github](https://github.com/microsoft/sarif-vscode-extension/releases/download/3.3.0-9/sarif-v

[2022-09-21 17:54] jeffersonking commented on #460
@marmegh I don't have access to the repository mentioned in the site. Do you have access? Would you be able to try the repro with 3.3.0-9.

[2022-09-21 19:08] ShiningMassXAcc commented on #460
Thanks for taking a look!  I noted that our markdown rendering of icons is in!

Still not seeing output changes in 3.3.0-9.  I've sent the file to Mary.

<img width="1026" alt="image" src="https://user-images.githubusercontent.com/43765765/191588293-12569556-818a-4a2e-8bf7-877392047488.png">

[2022-09-21 19:10] jeffersonking commented on #460
@ShiningMassXAcc Thanks for sending that screenshot. The `local === artifact` data is exactly what I was looking for. Investigating how to fix now.

[2022-09-21 19:12] jeffersonking commented on #460
@ShiningMassXAcc One more thing, do you have a workspace (or folder) open? If so, it is possible to share the path for that (without giving away any PII)?

[2022-09-21 19:22] ShiningMassXAcc commented on #460
I have an open folder for the root of the repo.  I've unfortunately started doing this as my default behavior because I've had too many devs that actually do that and then break our parsing.  In our 'sarif-like client', we limit our processing of files due to this.  Office org would open at the root.

We have this type of setting to control parsing - would be interesting to see how you've thought

[2022-09-21 19:26] ShiningMassXAcc commented on #461
Confirming I see this fix!  Good stuff.

[2022-09-21 19:33] jeffersonking commented on #460
I'm suspecting a path alignment issue. Given the screenshot, I presume the "root of the repo" folder you mention is `s:/AAPT-Antares-Websites`?

[2022-09-21 21:39] yongyan-gh commented on #460
Noticed an issue in the SARIF file which caused the problem not able to navigate to right place in the source code.

The region object of the SARIF result in the sample file has same `endColumn` and `startColumn` value.
[code]

According to [SARIF spec](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317693), the `endColumn` should be 2 in this case.

When a region obj

[2022-09-21 22:58] jeffersonking commented on #460
@ShiningMassXAcc Can you try one more time on 3.3.0-10? This latest pre-release should address your issue.

[2022-10-03 23:57] jasonschroeder-sfdc commented on #403
Looks like this was delivered in https://github.com/microsoft/sarif-vscode-extension/pull/458 ?

[2022-10-12 20:29] NickLiffen opened #463 "Feedback for the new SARIF VIewer Plugin :)"
Hey team 👋

Creating this issue as a way to collect some feedback from people generally about the new plugin experience 🙇 Please post your comments here 🙇

Thank you!

[2022-10-12 20:58] scarbone-msft commented on #463
👋🏼 @NickLiffen - early feedback/question from our friends at Priceline 🙇🏼‍♂️  /cc @Moose0621

![Screenshot 2022-10-12 at 4 56 35 PM](https://user-images.githubusercontent.com/53019953/195446266-0a79758d-a18b-4901-80d9-3c10a3e378ea.png)

[2022-10-12 21:15] scarbone-msft commented on #463
![image](https://user-images.githubusercontent.com/53019953/195449434-f3407502-ea6b-4678-9793-6bd9ff5fd8b9.png)

[2022-10-12 21:33] polivebranch commented on #463
Adding additional detail to the above -- Huzefa wondered if it might be related to them using the Insiders version for VSCode. I shared a couple screenshots of the Sarif Viewer extension notification I was getting with the prompt to connect -- the Priceline team isn't getting that prompt.

[2022-10-13 00:32] jeffersonking commented on #463
@polivebranch Thanks for reporting. Are Huzefa and Steve both on the Insiders version for VSCode? I will try to see if I can reproduce the issue the Insiders version.

[2022-10-13 06:34] NickLiffen commented on #463
👋 This is great feedback; one thing to check is if they had this plugin installed before, they may need to upgrade. Also, @polivebranch, maybe check and see if they have the SARIF button and information on the toolbar along the bottom?

[2022-10-13 13:06] scarbone-msft commented on #463
👋🏼 @jeffersonking - confirming they are using the Insiders version of VSCode - thanks! 🙇🏼‍♂️

[2022-10-13 20:23] jeffersonking commented on #463
I installed the SARIF Extension on VS Code Insiders and got the prompt to sign in. I plan to add some additional debug output in the next release around authentication. Hopefully it will shed some light on what's going on.

<img width="453" alt="Screen Shot 2022-10-13 at 1 20 24 PM" src="https://user-images.githubusercontent.com/3452831/195702374-28aadd1b-cadf-4222-bd48-ec1e012f17b7.png">

[2022-10-15 02:35] felickz commented on #463
Looks like it picks the last scan run, which for multiple languages is less than desirable.. any chance it can pull the latest for each analysis origin?

[2022-10-15 04:49] NickLiffen commented on #463
Tell me more .... are you thinking it due to the fact we upload multiple languages sequentially it won't get all results??

Makes perfect sense though and absolutely something we should do 🙇‍♂️

[2022-10-18 16:39] jeffersonking commented on #463
@nickliffen: The viewer should be showing all runs in a given log for a given analysis. Are some runs being filtered out by GitHub? Or is this related to the fact that we only fetch the latest analysis for a given branch?

[2022-10-18 16:57] scarbone-msft commented on #463
👋🏼 the team at Priceline are still having difficulty getting this to work - here's the latest feedback -
![Screenshot 2022-10-18 at 12 54 14 PM](https://user-images.githubusercontent.com/53019953/196496176-656608a6-8022-4d28-9ed1-f557c167a1d2.png)
![Screenshot 2022-10-18 at 11 43 03 AM](https://user-images.githubusercontent.com/53019953/196496208-6ce163e9-21a0-4b2f-90b0-11600057c604.png)

[2022-10-19 07:49] NickLiffen commented on #463
@scarbone-msft, could I and @jeffersonking jump on a quick call with them, would they be open for that? 🙇

@jeffersonking I think 30 mins debugging session may help here

[2022-10-19 10:12] scarbone-msft commented on #463
Yes-thanks-will ping them today

[2022-10-20 18:18] jeffersonking commented on #463
Hi @scarbone-msft, for Steve Dalonzo and Huzefa Kagdi, what is the current state of the setting `sarif-viewer.connectToGithubCodeScanning` for their workspace?

Any chance @sdalonzo and @huzefakagdi can directly reply here? This may speed things up as I will likely have some follow-up questions.

Thanks for helping us figure out the issue!

[2022-10-20 18:38] NickLiffen commented on #463
I am trying to get you added @jeffersonking 🙇

[2022-10-20 18:46] jeffersonking commented on #463
@scarbone-msft This is a public repo, anyone should be able to comment there.

I'd also be happy to join the Slack, but just confused why "invite... to this org" is mentioned. Thanks!

[2022-10-20 18:51] scarbone-msft commented on #463
@jeffersonking - gotcha - pinged them to see if they can get here - thanks 🙇🏼‍♂️

[2022-10-20 18:55] sdalonzo commented on #463
👋  I can respond async in between other tasks. How can I help?

[2022-10-20 18:57] scarbone-msft commented on #463
@sdalonzo - wondering if you can take a look at the below when you get a chance please:

[2022-10-20 18:58] sdalonzo commented on #463
not specified

[2022-10-20 19:00] huzefakagdi commented on #463
@jeffersonking I had set this manually to `on` after the connection did not work for me. It is in the same setting since then.

<img width="738" alt="image" src="https://user-images.githubusercontent.com/5671981/197034989-4a1ad3cf-fee1-4d05-b980-56ac0cc215f9.png">

[2022-10-20 19:01] sdalonzo commented on #463
my workspace is pretty minimal - folders, some folder excludes, eslint settings. the other thing of note is at least for me, i'm in a Rush monorepo of ~250 projects.

[2022-10-20 19:02] sdalonzo commented on #463
the other thing that _could_ be of interest here is repos at Priceline are `private` by security convention, not sure if that matters to this context.

[2022-10-20 19:03] huzefakagdi commented on #463
I had this question separately, should SARIF show up here _Profile Icon (Bottom Left) -> username (GitHub) -> Manage Trusted Extensions_

I do not see SARIF listed there

[2022-10-20 19:19] jeffersonking commented on #463
Thanks all. I suspect the monorepo might be causing us issues. We have not tested with that yet.

I will need to brush up on the Git monorepos, but in the meanwhile, the SARIF extension looks for:
* A `.git` folder,
* A `remote.origin.url` that points to `github.com`.
* A `/.git/HEAD` file to watch.

If any of those conditions fail, then we don't see the project as eligible for Code Scanning.

@sd

[2022-10-20 19:27] huzefakagdi commented on #463
@jeffersonking I am not working on the monorepo. So I have all the pre-reqs you mentioned above

[2022-10-22 00:00] jeffersonking commented on #463
The SSH origin issue discussed today is fixed in [3.3.1](https://github.com/microsoft/sarif-vscode-extension/releases/tag/3.3.1) and on it's way to the Marketplace soon. Thanks again for helping us narrow it down!

[2022-10-22 01:36] huzefakagdi commented on #463
@jeffersonking I installed the latest version. I can confirm it works now. Thank you for the quick fix!

[2022-10-24 14:25] NickLiffen commented on #463
Hey @colindembovsky 👋

That should be the behaviour 🤔 we get them by `ref`. Are you not seeing that behaviour?

[2022-10-24 14:36] colindembovsky commented on #463
No I am not. Here are my steps to repro using our internal `Bookstore v3` demo:
1. Open Bookstore in Codespace
2. Create the `search` change (which has a SQL injection vulnerability)
3. Commit, `push` and create the PR
4. The PR Code Scanning job fails (with the SQL injection vulnerability)
5. The viewer says, "New alerts available" but the `Refresh results` button doesn't do anything:

![image](h

[2022-10-25 00:27] felickz commented on #463
My guess is that the extension just pulls the latest or is only coded to parse a single sarif at a time.  Haven't dug here at all.. just was looking at a charp and JavaScript repo but only seeing JS result.

[2022-10-25 02:59] jeffersonking commented on #463
@colindembovsky You mentioned "`search` change". Did you mean the `search` branch? To reframe your question: You have the `search` branch checked out, yet you are only seeing results from the `main` branch?

@NickLiffen Are there alerts that are exclusively attached to the PR and not the branch (that the PR is on)? Currently, the extension only queries by branch. The extension is unaware of PRs.

[2022-10-25 04:00] colindembovsky commented on #463
Hi @jeffersonking - yes, the current branch in VSCode is `feature-book-search` (the source branch of the PR).

Looking at the PR, I can see the alert inline:

<img width="892" alt="image" src="https://user-images.githubusercontent.com/1932561/197677546-92a49bf5-81a1-435d-9c98-374f35b20098.png">

If I navigate to the Code Scanning tab in the GitHub repo and add `pr:24` to the filter in the Code Sca

[2022-10-25 14:16] audrow opened #464 "Tests failing"
The tests don't seem to pass after a clean install of the dependencies. We ran `git bisect` and found that #445 seems to have broken the tests:

[code]

It would be nice to fix this and then add CI to make sure that no future commits break the tests.

[2022-10-25 18:20] jeffersonking commented on #463
@colindembovsky Thanks for the additional details. To confirm your hypothesis, you would need to check out `refs/pull/24/merge` to see that 66th result.

Off the top of my head, I can't think of a simple way for the extension (and local git) to know if a branch (such as `feature-book-search`) has a PR branch (such as `refs/pull/24/merge`) or not. I can looking into this more, but @NickLiffen would

[2022-10-26 10:02] NickLiffen commented on #463
@jeffersonking you can use the [pulls](https://docs.github.com/en/rest/pulls) API to get this information 👍 I done a quick test and i think we can get this working 👍

[2022-11-14 19:44] 50Wliu opened #467 "Automatically reflect changes to SARIF files in the viewer"
If a SARIF file is open in the viewer, any changes to that file should be automatically reflected.

Scenario:
1. Static analysis run produces a SARIF file; SARIF Viewer is opened
2. After fixing some of the issues, the static analysis tool is run again and updates/overwrites the existing SARIF file

Expected behavior: the SARIF viewer automatically reflects the changes in the file.

Actual behavio

[2022-11-14 21:20] 50Wliu opened #468 "Support VS Code commands in description"
We'd like to be able to add VS Code commands (i.e. `[arbitary text](command:command-goes-here)`) in the description view to help people resolve SA issues. However, react-markdown by default does not allow vscode: schemes and the command gets removed from the final rendering.

The good news is react-markdown can also be customized to allow different schemes: https://github.com/remarkjs/react-markdo

[2022-11-14 21:23] jeffersonking commented on #468
@50Wliu Apologies for not letting you know sooner, but we fixed and released this issue late Friday (version 3.3.2). Please me know if that completely addressed the issue.

[2022-11-14 21:24] 50Wliu commented on #468
Woah, awesome! We'll let you know and close if it's resolved ^^.

[2022-11-15 00:15] 50Wliu commented on #468
Looks like `vscode:` was added, but we also need `command:` - I can create a quick PR for that since I see where the change needs to go.

[2022-11-17 00:20] #468 closed

[2022-11-21 22:52] theficus opened #472 "Entering any text in any file is causing numerous launches of rg.exe processes causing global system slowdown"
Type: <b>Performance Issue</b>

After opening a large project in VSCode, I found my system performance was slowing to a crawl whenever typing in any text. Doing an ETW trace found hundreds of rg.exe processes being launched in a very short period of time.

These all had a command line like this:
`"c:\Users\XXXX\AppData\Local\Programs\Microsoft VS Code\resources\app\node_modules.asar.unpacked\@vsco

[2022-11-22 15:34] 50Wliu commented on #467
Hi @jeffersonking, is this something you think you'll get to soon or would you like us to send a PR instead?

[2022-11-30 04:04] chrishuynhc opened #473 "Enable extension API to open to specific SARIF result"
Currently, there is not an exposed extension API that will allow other extensions to open the SARIF viewer to a specific result.  This feature would allow our extension to generate static analysis results and open the user directly to issues based on a specified result id.

[2022-11-30 14:35] markhermeling commented on #362
We ran into this topic (it would seem) as well with our VS Code Plugin for GrammaTech CodeSonar.

The scenario is that a user will have a clone of a git repo local, but the analysis was performed through a GitHub action or a Jenkins pipeline more remote. There is a recording for the scenario (but not with the problem visible here: https://grammatech.wistia.com/medias/zysr73jufg, the VS Code conten